<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>CBF8DF35-2F20-4D1F-AE1C-53C21E0D271E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.s.ss01</key>
      <integer>16</integer>
    </dict>
  </dict>
</plist>
