<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>01A6B399-3804-4B03-9B41-31B7F0AE1F78</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_dollar</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
