<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F2129C81-4266-42BB-BC85-5043B3D7AF8D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.l.right</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
