<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>CFA71156-56E1-4187-BD53-583EF6B9C8A5</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ae</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
