<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>FA28F813-90A2-438A-9C7A-E54FF0D60D7E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.d</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
