<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F1D0A4DA-875A-423D-829A-B0E6F41794EA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.i.right</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
