<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F71153EF-10C1-4349-B625-47BE472BD572</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.colon_equal</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
