<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>23EC5969-6A81-49B0-BFB7-D479630F5FFD</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.m</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
