<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>FC015D10-904F-4BBC-9195-A544BBFE888E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlautcomb</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
