<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>AAF14596-A709-48F5-965A-CF7708914783</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.l.right</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
