<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F9F04532-22F2-4BE1-9529-48C60BF2E27D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.equal_exclam_equal</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
