<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>26FEF2F5-28D9-48AE-81BC-A4D0B92F7109</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.m</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
