<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C23F8E2C-4577-428E-A3A4-786F46F86EE2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_dollar</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
