<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>905E9517-4195-4793-84AC-27B23ED342FB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.o</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
