<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>45A949B9-F0BD-4B63-A982-EA91164D18D2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.o.ss01</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
