<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>181B3474-E3D9-434C-A2C0-8E811D43B899</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.J</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
