<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>23189152-384A-4B58-978D-DC1351B27637</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.O.ss01</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
