<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F33B1102-57C5-4DF7-9B69-3ADCED0EB834</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb_acutecomb</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
