<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4793374D-CB6D-4D2D-8405-3D1BB23526E2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
