<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9534E73A-9254-480B-B742-DE03E7AB0309</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
