<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B1500097-7EDA-473B-BF3D-03696BA45606</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.naira</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
