<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E818A376-EC72-4D82-B84C-688AB646300D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.registered</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
