<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>FABD703B-94E1-4503-A38E-8625C2004723</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.o</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
