<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A8767117-7D08-45C2-B22A-F2AD8E695334</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.d</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
