<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>17A756AF-05C8-4B84-8026-0223B13504E2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.jdotless</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
