<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C8FE3472-2013-4325-A57D-C2EEADE53D4F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Germandbls</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
