<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C1E74434-EEF7-40BF-8450-190AC2935A2B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexcomb_hookabovecomb</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
