<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C01075FC-8CFD-4F7C-8CC6-688B8F731B69</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.m.right</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
