<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1A9B11CE-C0E1-44DE-B06E-399462BE68C9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.hcedilla</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
