<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B7342ECE-9117-46F5-895D-1A491BEB4061</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.equal_exclam_equal</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
