<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>FA5DE2D9-D12C-4087-A7DD-93DE6DA3B383</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.hbar</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
