<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E9B359E2-590A-4759-BE12-5494ED3FCE6D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketleft_bar</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
