<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C7D6B235-6D07-49B1-8364-2B2C089FF7EC</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.s</key>
      <integer>15</integer>
    </dict>
  </dict>
</plist>
