<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4C98C485-FAEB-45D6-BAF6-20F030C0E0C5</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.comma</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclam</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.period</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.semicolon</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
