<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>CFCB6CDF-B20D-4AB8-99BD-6E507925E844</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.oe</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
