<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>DC009F37-852B-4D6A-B4B8-348B5939C540</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexcomb_tildecomb</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
