<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3C98A546-E552-4FB9-97B2-3431EF7EE12D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.i.left</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
