<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C99E1BFB-DFA6-4FC9-A3B6-89B10C86D801</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.approxequal</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciitilde</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.divide</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.equal</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.greater</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.greaterequal</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lessequal</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.minus</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.multiply</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.notequal</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.plus</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.plusminus</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
