<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>DCA47DFB-F99D-44A5-A287-007455C01CFD</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclam</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
