<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>45B5281B-9E0D-48BF-AA2B-136D25363CDA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.greater_greater</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
