<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>35714CA8-EABD-4C0B-9101-8338F84C17AF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.tildecomb</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
