<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>87CA0B8E-F9AD-4BE7-97D8-27CB3D17E955</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.g</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
