<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9D6DF943-0552-446E-B2B4-92F5E3F9F2AF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.n</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
