<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>66F160C7-E095-49DF-9D78-7E6F71E1104B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.k</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
