<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1C282959-FBA5-4BD2-A20A-5236A0D5D3BF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.equal_greater_equal</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
