<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8FC213D6-E8C8-47D2-8FC4-B1C06583E1DD</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.k</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
