<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>595B8599-8F32-4620-B9DE-341AE576D9B4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.s.ss01</key>
      <integer>13</integer>
    </dict>
  </dict>
</plist>
