<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1BBDF00C-EB6C-4E64-B2C8-BDE32526FA7D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.tildecomb</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tildecomb.case</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
