<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B4171B85-DD75-49D8-B0BB-B1434D3332AC</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.m.right</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
