appdirs==1.4.4
attrs==23.1.0
booleanOperations==0.9.0
cffsubr==0.2.9.post1
compreffor==0.5.3
cu2qu==1.6.7.post2
fontmake==3.5.1
fontMath==0.9.3
fonttools==4.43.0
fs==2.4.16
glyphsLib==6.2.2
lxml==4.9.2
openstep-plist==0.3.0.post1
pyclipper==1.3.0.post4
six==1.16.0
ufo2ft==2.31.1
ufoLib2==0.14.0
unicodedata2==15.0.0
