<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9FE07711-42CF-4885-A690-4AB7B52AFB5F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.m</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
