<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8A4B1EC4-9E19-46FC-AA3D-4ED4FBC998A9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.O.ss01</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
