<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>974A7E9A-9841-44D4-8153-3CC447CB1B27</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.equal_greater</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
