<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>61CE08AA-327C-45EC-9AE9-E745F972D206</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_bar_bar</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_bar_bar_bar</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
