<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E04209CA-8F02-4FF2-9F3B-66DA72169AB1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.o</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
