<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6C1259A5-0C83-484C-BB11-B1277A09DB2C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevebelowcomb</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
