<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2DE2DD38-1B92-4E1B-A83C-B4FA948F68A5</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.n</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
