<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D5E8BCAF-379E-452A-BA8C-8C7B001FB574</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.equal_colon_equal</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
