<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>012B9DBF-C744-4706-8F85-4CB642F2880D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceright</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
