<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8CDBAAB4-A59D-4C7D-8A20-1ED8A22A4E44</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.lslash.ss01</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
