<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>717E4FBC-0AAB-4F0A-B1FA-F1B0B3B0F1E1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.copyright</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
