<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BF2DC734-4B5A-4728-B9D2-53D2586984C0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.v</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
