<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7C46A17F-D43E-4ED6-90AF-DD6978813B86</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.y</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
