<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>May 14, 23 13:39</string>
      <string>glyphs.M_ay 14, 23 13_39</string>
    </array>
    <array>
      <string>May 14, 23 13:54</string>
      <string>glyphs.M_ay 14, 23 13_54</string>
    </array>
  </array>
</plist>
