<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Nov 2, 23 at 16:32</string>
      <string>glyphs.N_ov 2, 23 at 16_32</string>
    </array>
    <array>
      <string>Nov 2, 23 at 16:36</string>
      <string>glyphs.N_ov 2, 23 at 16_36</string>
    </array>
    <array>
      <string>Oct 31, 23 at 15:17</string>
      <string>glyphs.O_ct 31, 23 at 15_17</string>
    </array>
    <array>
      <string>Oct 31, 23 at 15:48</string>
      <string>glyphs.O_ct 31, 23 at 15_48</string>
    </array>
    <array>
      <string>ae</string>
      <string>glyphs.ae</string>
    </array>
    <array>
      <string>Nov 2, 23 at 16:22</string>
      <string>glyphs.N_ov 2, 23 at 16_22</string>
    </array>
    <array>
      <string>Nov 2, 23 at 15:59</string>
      <string>glyphs.N_ov 2, 23 at 15_59</string>
    </array>
    <array>
      <string>Nov 2, 23 at 13:08</string>
      <string>glyphs.N_ov 2, 23 at 13_08</string>
    </array>
    <array>
      <string>Nov 2, 23 at 13:11</string>
      <string>glyphs.N_ov 2, 23 at 13_11</string>
    </array>
    <array>
      <string>Nov 2, 23 at 13:37</string>
      <string>glyphs.N_ov 2, 23 at 13_37</string>
    </array>
    <array>
      <string>Nov 5, 23 at 15:14</string>
      <string>glyphs.N_ov 5, 23 at 15_14</string>
    </array>
    <array>
      <string>Sep 16, 23 15:40</string>
      <string>glyphs.S_ep 16, 23 15_40</string>
    </array>
    <array>
      <string>May 14, 23 13:39</string>
      <string>glyphs.M_ay 14, 23 13_39</string>
    </array>
    <array>
      <string>Sep 16, 23 15:47</string>
      <string>glyphs.S_ep 16, 23 15_47</string>
    </array>
    <array>
      <string>Nov 1, 23 at 21:20</string>
      <string>glyphs.N_ov 1, 23 at 21_20</string>
    </array>
    <array>
      <string>Nov 2, 23 at 16:28</string>
      <string>glyphs.N_ov 2, 23 at 16_28</string>
    </array>
    <array>
      <string>Nov 2, 23 at 11:05</string>
      <string>glyphs.N_ov 2, 23 at 11_05</string>
    </array>
    <array>
      <string>Nov 2, 23 at 11:34</string>
      <string>glyphs.N_ov 2, 23 at 11_34</string>
    </array>
    <array>
      <string>Sep 29, 23 15:57</string>
      <string>glyphs.S_ep 29, 23 15_57</string>
    </array>
    <array>
      <string>Sep 29, 23 15:56</string>
      <string>glyphs.S_ep 29, 23 15_56</string>
    </array>
    <array>
      <string>Sep 29, 23 15:55</string>
      <string>glyphs.S_ep 29, 23 15_55</string>
    </array>
    <array>
      <string>Sep 29, 23 15:54</string>
      <string>glyphs.S_ep 29, 23 15_54</string>
    </array>
    <array>
      <string>Sep 29, 23 15:53</string>
      <string>glyphs.S_ep 29, 23 15_53</string>
    </array>
    <array>
      <string>Sep 16, 23 15:39</string>
      <string>glyphs.S_ep 16, 23 15_39</string>
    </array>
    <array>
      <string>Oct 31, 23 at 16:47</string>
      <string>glyphs.O_ct 31, 23 at 16_47</string>
    </array>
    <array>
      <string>Nov 1, 23 at 15:47</string>
      <string>glyphs.N_ov 1, 23 at 15_47</string>
    </array>
    <array>
      <string>Nov 2, 23 at 15:54</string>
      <string>glyphs.N_ov 2, 23 at 15_54</string>
    </array>
    <array>
      <string>Nov 2, 23 at 16:04</string>
      <string>glyphs.N_ov 2, 23 at 16_04</string>
    </array>
    <array>
      <string>Nov 5, 23 at 16:48</string>
      <string>glyphs.N_ov 5, 23 at 16_48</string>
    </array>
    <array>
      <string>Nov 5, 23 at 16:56</string>
      <string>glyphs.N_ov 5, 23 at 16_56</string>
    </array>
  </array>
</plist>
