<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>GSCornerRadius</key>
    <integer>218</integer>
    <key>com.github.googlei18n.ufo2ft.filters</key>
    <array>
      <dict>
        <key>name</key>
        <string>eraseOpenCorners</string>
        <key>namespace</key>
        <string>glyphsLib.filters</string>
        <key>pre</key>
        <true/>
      </dict>
    </array>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3227</string>
    <key>com.schriftgestaltung.customParameter.GSFont.Write lastChange</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>m01</string>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Abreveacute</string>
      <string>Abrevedotbelow</string>
      <string>Abrevegrave</string>
      <string>Abrevehookabove</string>
      <string>Abrevetilde</string>
      <string>Acircumflex</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexdotbelow</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflexhookabove</string>
      <string>Acircumflextilde</string>
      <string>Adieresis</string>
      <string>Adotbelow</string>
      <string>Agrave</string>
      <string>Ahookabove</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>AE</string>
      <string>B</string>
      <string>C</string>
      <string>Ccedilla</string>
      <string>D</string>
      <string>Dcroat</string>
      <string>Eth</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Ecircumflexacute</string>
      <string>Ecircumflexdotbelow</string>
      <string>Ecircumflexgrave</string>
      <string>Ecircumflexhookabove</string>
      <string>Ecircumflextilde</string>
      <string>Edieresis</string>
      <string>Edotbelow</string>
      <string>Egrave</string>
      <string>Ehookabove</string>
      <string>Etilde</string>
      <string>F</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>H</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Idotbelow</string>
      <string>Igrave</string>
      <string>Ihookabove</string>
      <string>Itilde</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>Ntilde</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Ocircumflexacute</string>
      <string>Ocircumflexdotbelow</string>
      <string>Ocircumflexgrave</string>
      <string>Ocircumflexhookabove</string>
      <string>Ocircumflextilde</string>
      <string>Odieresis</string>
      <string>Odotbelow</string>
      <string>Ograve</string>
      <string>Ohookabove</string>
      <string>Ohorn</string>
      <string>Ohornacute</string>
      <string>Ohorndotbelow</string>
      <string>Ohorngrave</string>
      <string>Ohornhookabove</string>
      <string>Ohorntilde</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>T</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Udotbelow</string>
      <string>Ugrave</string>
      <string>Uhookabove</string>
      <string>Uhorn</string>
      <string>Uhornacute</string>
      <string>Uhorndotbelow</string>
      <string>Uhorngrave</string>
      <string>Uhornhookabove</string>
      <string>Uhorntilde</string>
      <string>Utilde</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ydieresis</string>
      <string>Ydotbelow</string>
      <string>Ygrave</string>
      <string>Yhookabove</string>
      <string>Ytilde</string>
      <string>Z</string>
      <string>Zcaron</string>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>abreveacute</string>
      <string>abrevedotbelow</string>
      <string>abrevegrave</string>
      <string>abrevehookabove</string>
      <string>abrevetilde</string>
      <string>acircumflex</string>
      <string>acircumflexacute</string>
      <string>acircumflexdotbelow</string>
      <string>acircumflexgrave</string>
      <string>acircumflexhookabove</string>
      <string>acircumflextilde</string>
      <string>adieresis</string>
      <string>adotbelow</string>
      <string>agrave</string>
      <string>ahookabove</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
      <string>b</string>
      <string>c</string>
      <string>ccedilla</string>
      <string>d</string>
      <string>dcroat</string>
      <string>eth</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>ecircumflexacute</string>
      <string>ecircumflexdotbelow</string>
      <string>ecircumflexgrave</string>
      <string>ecircumflexhookabove</string>
      <string>ecircumflextilde</string>
      <string>edieresis</string>
      <string>edotbelow</string>
      <string>egrave</string>
      <string>ehookabove</string>
      <string>etilde</string>
      <string>f</string>
      <string>g</string>
      <string>gbreve</string>
      <string>h</string>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>idotbelow</string>
      <string>igrave</string>
      <string>ihookabove</string>
      <string>itilde</string>
      <string>j</string>
      <string>jdotless</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>ntilde</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>ocircumflexacute</string>
      <string>ocircumflexdotbelow</string>
      <string>ocircumflexgrave</string>
      <string>ocircumflexhookabove</string>
      <string>ocircumflextilde</string>
      <string>odieresis</string>
      <string>odotbelow</string>
      <string>ograve</string>
      <string>ohookabove</string>
      <string>ohorn</string>
      <string>ohornacute</string>
      <string>ohorndotbelow</string>
      <string>ohorngrave</string>
      <string>ohornhookabove</string>
      <string>ohorntilde</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>oe</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>germandbls</string>
      <string>t</string>
      <string>u</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>udotbelow</string>
      <string>ugrave</string>
      <string>uhookabove</string>
      <string>uhorn</string>
      <string>uhornacute</string>
      <string>uhorndotbelow</string>
      <string>uhorngrave</string>
      <string>uhornhookabove</string>
      <string>uhorntilde</string>
      <string>utilde</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>yacute</string>
      <string>ydieresis</string>
      <string>ydotbelow</string>
      <string>ygrave</string>
      <string>yhookabove</string>
      <string>ytilde</string>
      <string>z</string>
      <string>zcaron</string>
      <string>i.both</string>
      <string>l.both</string>
      <string>m.both</string>
      <string>t.both</string>
      <string>i.left</string>
      <string>l.left</string>
      <string>m.left</string>
      <string>t.left</string>
      <string>i.right</string>
      <string>l.right</string>
      <string>m.right</string>
      <string>t.right</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>space</string>
      <string>hyphen_greater</string>
      <string>bracketleft_bar</string>
      <string>period_equal</string>
      <string>colon_colon</string>
      <string>colon_colon_colon</string>
      <string>colon_equal</string>
      <string>colon_greater_colon</string>
      <string>colon_less_colon</string>
      <string>exclam_equal</string>
      <string>exclam_equal_equal</string>
      <string>question_question</string>
      <string>asterisk_asterisk</string>
      <string>asterisk_asterisk_asterisk</string>
      <string>asterisk_greater</string>
      <string>numbersign_equal</string>
      <string>slash_slash</string>
      <string>slash_slash_slash</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>question</string>
      <string>questiondown</string>
      <string>asterisk</string>
      <string>numbersign</string>
      <string>slash</string>
      <string>backslash</string>
      <string>period.spacer</string>
      <string>colon.spacer</string>
      <string>exclam.spacer</string>
      <string>question.spacer</string>
      <string>asterisk.spacer</string>
      <string>numbersign.spacer</string>
      <string>slash.spacer</string>
      <string>hyphen</string>
      <string>underscore</string>
      <string>hyphen.spacer</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>bracketleft.spacer</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>ampersand_ampersand</string>
      <string>bar_bracketright</string>
      <string>bar_bar</string>
      <string>bar_bar_bar_greater</string>
      <string>bar_bar_greater</string>
      <string>bar_greater</string>
      <string>dollar_greater</string>
      <string>plus_greater</string>
      <string>equal_colon_equal</string>
      <string>equal_exclam_equal</string>
      <string>equal_equal</string>
      <string>equal_equal_equal</string>
      <string>equal_greater</string>
      <string>equal_greater_equal</string>
      <string>equal_greater_greater</string>
      <string>equal_less_equal</string>
      <string>equal_less_less</string>
      <string>greater_equal_greater</string>
      <string>greater_greater</string>
      <string>greater_greater_greater</string>
      <string>less_hyphen</string>
      <string>less_asterisk</string>
      <string>less_asterisk_greater</string>
      <string>less_bar</string>
      <string>less_bar_bar</string>
      <string>less_bar_bar_bar</string>
      <string>less_bar_greater</string>
      <string>less_dollar</string>
      <string>less_dollar_greater</string>
      <string>less_plus</string>
      <string>less_plus_greater</string>
      <string>less_equal_greater</string>
      <string>less_equal_less</string>
      <string>less_greater</string>
      <string>less_less</string>
      <string>less_less_less</string>
      <string>percent_percent</string>
      <string>at</string>
      <string>ampersand</string>
      <string>bar</string>
      <string>ampersand.spacer</string>
      <string>bar.spacer</string>
      <string>dollar</string>
      <string>dollar.spacer</string>
      <string>plus</string>
      <string>minus</string>
      <string>equal</string>
      <string>greater</string>
      <string>less</string>
      <string>asciitilde</string>
      <string>asciicircum</string>
      <string>percent</string>
      <string>plus.spacer</string>
      <string>equal.spacer</string>
      <string>greater.spacer</string>
      <string>less.spacer</string>
      <string>percent.spacer</string>
      <string>boxDoubleDownAndHorizontal</string>
      <string>boxDoubleDownAndLeft</string>
      <string>boxDoubleDownAndRight</string>
      <string>boxDoubleHorizontal</string>
      <string>boxDoubleUpAndHorizontal</string>
      <string>boxDoubleUpAndLeft</string>
      <string>boxDoubleUpAndRight</string>
      <string>boxDoubleVertical</string>
      <string>boxDoubleVerticalAndHorizontal</string>
      <string>boxDoubleVerticalAndLeft</string>
      <string>boxDoubleVerticalAndRight</string>
      <string>boxDownDoubleAndHorizontalSingle</string>
      <string>boxDownDoubleAndLeftSingle</string>
      <string>boxDownDoubleAndRightSingle</string>
      <string>boxDownHeavyAndHorizontalLight</string>
      <string>boxDownHeavyAndLeftLight</string>
      <string>boxDownHeavyAndLeftUpLight</string>
      <string>boxDownHeavyAndRightLight</string>
      <string>boxDownHeavyAndRightUpLight</string>
      <string>boxDownHeavyAndUpHorizontalLight</string>
      <string>boxDownLightAndHorizontalHeavy</string>
      <string>boxDownLightAndLeftHeavy</string>
      <string>boxDownLightAndLeftUpHeavy</string>
      <string>boxDownLightAndRightHeavy</string>
      <string>boxDownLightAndRightUpHeavy</string>
      <string>boxDownLightAndUpHorizontalHeavy</string>
      <string>boxDownSingleAndHorizontalDouble</string>
      <string>boxDownSingleAndLeftDouble</string>
      <string>boxDownSingleAndRightDouble</string>
      <string>boxHeavyDoubleDashHorizontal</string>
      <string>boxHeavyDoubleDashVertical</string>
      <string>boxHeavyDown</string>
      <string>boxHeavyDownAndHorizontal</string>
      <string>boxHeavyDownAndLeft</string>
      <string>boxHeavyDownAndRight</string>
      <string>boxHeavyHorizontal</string>
      <string>boxHeavyLeft</string>
      <string>boxHeavyLeftAndLightRight</string>
      <string>boxHeavyQuadrupleDashHorizontal</string>
      <string>boxHeavyQuadrupleDashVertical</string>
      <string>boxHeavyRight</string>
      <string>boxHeavyTripleDashHorizontal</string>
      <string>boxHeavyTripleDashVertical</string>
      <string>boxHeavyUp</string>
      <string>boxHeavyUpAndHorizontal</string>
      <string>boxHeavyUpAndLeft</string>
      <string>boxHeavyUpAndLightDown</string>
      <string>boxHeavyUpAndRight</string>
      <string>boxHeavyVertical</string>
      <string>boxHeavyVerticalAndHorizontal</string>
      <string>boxHeavyVerticalAndLeft</string>
      <string>boxHeavyVerticalAndRight</string>
      <string>boxLeftDownHeavyAndRightUpLight</string>
      <string>boxLeftHeavyAndRightDownLight</string>
      <string>boxLeftHeavyAndRightUpLight</string>
      <string>boxLeftHeavyAndRightVerticalLight</string>
      <string>boxLeftLightAndRightDownHeavy</string>
      <string>boxLeftLightAndRightUpHeavy</string>
      <string>boxLeftLightAndRightVerticalHeavy</string>
      <string>boxLeftUpHeavyAndRightDownLight</string>
      <string>boxLightArcDownAndLeft</string>
      <string>boxLightArcDownAndRight</string>
      <string>boxLightArcUpAndLeft</string>
      <string>boxLightArcUpAndRight</string>
      <string>boxLightDiagonalCross</string>
      <string>boxLightDiagonalUpperLeftToLowerRight</string>
      <string>boxLightDiagonalUpperRightToLowerLeft</string>
      <string>boxLightDoubleDashHorizontal</string>
      <string>boxLightDoubleDashVertical</string>
      <string>boxLightDown</string>
      <string>boxLightDownAndHorizontal</string>
      <string>boxLightDownAndLeft</string>
      <string>boxLightDownAndRight</string>
      <string>boxLightHorizontal</string>
      <string>boxLightLeft</string>
      <string>boxLightLeftAndHeavyRight</string>
      <string>boxLightQuadrupleDashHorizontal</string>
      <string>boxLightQuadrupleDashVertical</string>
      <string>boxLightRight</string>
      <string>boxLightTripleDashHorizontal</string>
      <string>boxLightTripleDashVertical</string>
      <string>boxLightUp</string>
      <string>boxLightUpAndHeavyDown</string>
      <string>boxLightUpAndLeft</string>
      <string>boxLightUpAndRight</string>
      <string>boxLightVertical</string>
      <string>boxLightVerticalAndHorizontal</string>
      <string>boxLightVerticalAndLeft</string>
      <string>boxLightVerticalAndRight</string>
      <string>boxRightDownHeavyAndLeftUpLight</string>
      <string>boxRightHeavyAndLeftDownLight</string>
      <string>boxRightHeavyAndLeftUpLight</string>
      <string>boxRightHeavyAndLeftVerticalLight</string>
      <string>boxRightLightAndLeftDownHeavy</string>
      <string>boxRightLightAndLeftUpHeavy</string>
      <string>boxRightLightAndLeftVerticalHeavy</string>
      <string>boxRightUpHeavyAndLeftDownLight</string>
      <string>boxUpDoubleAndHorizontalSingle</string>
      <string>boxUpDoubleAndLeftSingle</string>
      <string>boxUpDoubleAndRightSingle</string>
      <string>boxUpHeavyAndDownHorizontalLight</string>
      <string>boxUpHeavyAndHorizontalLight</string>
      <string>boxUpHeavyAndLeftDownLight</string>
      <string>boxUpHeavyAndLeftLight</string>
      <string>boxUpHeavyAndRightDownLight</string>
      <string>boxUpHeavyAndRightLight</string>
      <string>boxUpLightAndDownHorizontalHeavy</string>
      <string>boxUpLightAndHorizontalHeavy</string>
      <string>boxUpLightAndLeftDownHeavy</string>
      <string>boxUpLightAndLeftHeavy</string>
      <string>boxUpLightAndRightDownHeavy</string>
      <string>boxUpLightAndRightHeavy</string>
      <string>boxUpSingleAndHorizontalDouble</string>
      <string>boxUpSingleAndLeftDouble</string>
      <string>boxUpSingleAndRightDouble</string>
      <string>boxVerticalDoubleAndHorizontalSingle</string>
      <string>boxVerticalDoubleAndLeftSingle</string>
      <string>boxVerticalDoubleAndRightSingle</string>
      <string>boxVerticalHeavyAndHorizontalLight</string>
      <string>boxVerticalHeavyAndLeftLight</string>
      <string>boxVerticalHeavyAndRightLight</string>
      <string>boxVerticalLightAndHorizontalHeavy</string>
      <string>boxVerticalLightAndLeftHeavy</string>
      <string>boxVerticalLightAndRightHeavy</string>
      <string>boxVerticalSingleAndHorizontalDouble</string>
      <string>boxVerticalSingleAndLeftDouble</string>
      <string>boxVerticalSingleAndRightDouble</string>
      <string>boxLeftDownHeavyAndRightUpLight.001</string>
      <string>dieresiscomb</string>
      <string>dotaccentcomb</string>
      <string>gravecomb</string>
      <string>acutecomb</string>
      <string>circumflexcomb</string>
      <string>caroncomb</string>
      <string>brevecomb</string>
      <string>ringcomb</string>
      <string>tildecomb</string>
      <string>hookabovecomb</string>
      <string>horncomb</string>
      <string>dotbelowcomb</string>
      <string>cedillacomb</string>
      <string>dieresiscomb.case</string>
      <string>dotaccentcomb.case</string>
      <string>gravecomb.case</string>
      <string>acutecomb.case</string>
      <string>circumflexcomb.case</string>
      <string>caroncomb.case</string>
      <string>brevecomb.case</string>
      <string>ringcomb.case</string>
      <string>tildecomb.case</string>
      <string>hookabovecomb.case</string>
      <string>horncomb.case</string>
      <string>dotbelowcomb.case</string>
      <string>cedillacomb.case</string>
      <string>grave</string>
      <string>breveacutecomb</string>
      <string>brevegravecomb</string>
      <string>brevehookabovecomb</string>
      <string>brevetildecomb</string>
      <string>circumflexacutecomb</string>
      <string>circumflexgravecomb</string>
      <string>circumflexhookabovecomb</string>
      <string>circumflextildecomb</string>
      <string>breveacutecomb.case</string>
      <string>brevegravecomb.case</string>
      <string>brevehookabovecomb.case</string>
      <string>brevetildecomb.case</string>
      <string>circumflexacutecomb.case</string>
      <string>circumflexgravecomb.case</string>
      <string>circumflexhookabovecomb.case</string>
      <string>circumflextildecomb.case</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>Abreveacute</key>
      <string>uni1EAE</string>
      <key>Abrevedotbelow</key>
      <string>uni1EB6</string>
      <key>Abrevegrave</key>
      <string>uni1EB0</string>
      <key>Abrevehookabove</key>
      <string>uni1EB2</string>
      <key>Abrevetilde</key>
      <string>uni1EB4</string>
      <key>Acircumflexacute</key>
      <string>uni1EA4</string>
      <key>Acircumflexdotbelow</key>
      <string>uni1EAC</string>
      <key>Acircumflexgrave</key>
      <string>uni1EA6</string>
      <key>Acircumflexhookabove</key>
      <string>uni1EA8</string>
      <key>Acircumflextilde</key>
      <string>uni1EAA</string>
      <key>Adotbelow</key>
      <string>uni1EA0</string>
      <key>Ahookabove</key>
      <string>uni1EA2</string>
      <key>Ecircumflexacute</key>
      <string>uni1EBE</string>
      <key>Ecircumflexdotbelow</key>
      <string>uni1EC6</string>
      <key>Ecircumflexgrave</key>
      <string>uni1EC0</string>
      <key>Ecircumflexhookabove</key>
      <string>uni1EC2</string>
      <key>Ecircumflextilde</key>
      <string>uni1EC4</string>
      <key>Edotbelow</key>
      <string>uni1EB8</string>
      <key>Ehookabove</key>
      <string>uni1EBA</string>
      <key>Etilde</key>
      <string>uni1EBC</string>
      <key>Idotbelow</key>
      <string>uni1ECA</string>
      <key>Ihookabove</key>
      <string>uni1EC8</string>
      <key>Ocircumflexacute</key>
      <string>uni1ED0</string>
      <key>Ocircumflexdotbelow</key>
      <string>uni1ED8</string>
      <key>Ocircumflexgrave</key>
      <string>uni1ED2</string>
      <key>Ocircumflexhookabove</key>
      <string>uni1ED4</string>
      <key>Ocircumflextilde</key>
      <string>uni1ED6</string>
      <key>Odotbelow</key>
      <string>uni1ECC</string>
      <key>Ohookabove</key>
      <string>uni1ECE</string>
      <key>Ohornacute</key>
      <string>uni1EDA</string>
      <key>Ohorndotbelow</key>
      <string>uni1EE2</string>
      <key>Ohorngrave</key>
      <string>uni1EDC</string>
      <key>Ohornhookabove</key>
      <string>uni1EDE</string>
      <key>Ohorntilde</key>
      <string>uni1EE0</string>
      <key>Udotbelow</key>
      <string>uni1EE4</string>
      <key>Uhookabove</key>
      <string>uni1EE6</string>
      <key>Uhornacute</key>
      <string>uni1EE8</string>
      <key>Uhorndotbelow</key>
      <string>uni1EF0</string>
      <key>Uhorngrave</key>
      <string>uni1EEA</string>
      <key>Uhornhookabove</key>
      <string>uni1EEC</string>
      <key>Uhorntilde</key>
      <string>uni1EEE</string>
      <key>Ydotbelow</key>
      <string>uni1EF4</string>
      <key>Yhookabove</key>
      <string>uni1EF6</string>
      <key>Ytilde</key>
      <string>uni1EF8</string>
      <key>abreveacute</key>
      <string>uni1EAF</string>
      <key>abrevedotbelow</key>
      <string>uni1EB7</string>
      <key>abrevegrave</key>
      <string>uni1EB1</string>
      <key>abrevehookabove</key>
      <string>uni1EB3</string>
      <key>abrevetilde</key>
      <string>uni1EB5</string>
      <key>acircumflexacute</key>
      <string>uni1EA5</string>
      <key>acircumflexdotbelow</key>
      <string>uni1EAD</string>
      <key>acircumflexgrave</key>
      <string>uni1EA7</string>
      <key>acircumflexhookabove</key>
      <string>uni1EA9</string>
      <key>acircumflextilde</key>
      <string>uni1EAB</string>
      <key>adotbelow</key>
      <string>uni1EA1</string>
      <key>ahookabove</key>
      <string>uni1EA3</string>
      <key>boxDoubleDownAndHorizontal</key>
      <string>uni2566</string>
      <key>boxDoubleDownAndLeft</key>
      <string>uni2557</string>
      <key>boxDoubleDownAndRight</key>
      <string>uni2554</string>
      <key>boxDoubleHorizontal</key>
      <string>uni2550</string>
      <key>boxDoubleUpAndHorizontal</key>
      <string>uni2569</string>
      <key>boxDoubleUpAndLeft</key>
      <string>uni255D</string>
      <key>boxDoubleUpAndRight</key>
      <string>uni255A</string>
      <key>boxDoubleVertical</key>
      <string>uni2551</string>
      <key>boxDoubleVerticalAndHorizontal</key>
      <string>uni256C</string>
      <key>boxDoubleVerticalAndLeft</key>
      <string>uni2563</string>
      <key>boxDoubleVerticalAndRight</key>
      <string>uni2560</string>
      <key>boxDownDoubleAndHorizontalSingle</key>
      <string>uni2565</string>
      <key>boxDownDoubleAndLeftSingle</key>
      <string>uni2556</string>
      <key>boxDownDoubleAndRightSingle</key>
      <string>uni2553</string>
      <key>boxDownHeavyAndHorizontalLight</key>
      <string>uni2530</string>
      <key>boxDownHeavyAndLeftLight</key>
      <string>uni2512</string>
      <key>boxDownHeavyAndLeftUpLight</key>
      <string>uni2527</string>
      <key>boxDownHeavyAndRightLight</key>
      <string>uni250E</string>
      <key>boxDownHeavyAndRightUpLight</key>
      <string>uni251F</string>
      <key>boxDownHeavyAndUpHorizontalLight</key>
      <string>uni2541</string>
      <key>boxDownLightAndHorizontalHeavy</key>
      <string>uni252F</string>
      <key>boxDownLightAndLeftHeavy</key>
      <string>uni2511</string>
      <key>boxDownLightAndLeftUpHeavy</key>
      <string>uni2529</string>
      <key>boxDownLightAndRightHeavy</key>
      <string>uni250D</string>
      <key>boxDownLightAndRightUpHeavy</key>
      <string>uni2521</string>
      <key>boxDownLightAndUpHorizontalHeavy</key>
      <string>uni2547</string>
      <key>boxDownSingleAndHorizontalDouble</key>
      <string>uni2564</string>
      <key>boxDownSingleAndLeftDouble</key>
      <string>uni2555</string>
      <key>boxDownSingleAndRightDouble</key>
      <string>uni2552</string>
      <key>boxHeavyDoubleDashHorizontal</key>
      <string>uni254D</string>
      <key>boxHeavyDoubleDashVertical</key>
      <string>uni254F</string>
      <key>boxHeavyDown</key>
      <string>uni257B</string>
      <key>boxHeavyDownAndHorizontal</key>
      <string>uni2533</string>
      <key>boxHeavyDownAndLeft</key>
      <string>uni2513</string>
      <key>boxHeavyDownAndRight</key>
      <string>uni250F</string>
      <key>boxHeavyHorizontal</key>
      <string>uni2501</string>
      <key>boxHeavyLeft</key>
      <string>uni2578</string>
      <key>boxHeavyLeftAndLightRight</key>
      <string>uni257E</string>
      <key>boxHeavyQuadrupleDashHorizontal</key>
      <string>uni2509</string>
      <key>boxHeavyQuadrupleDashVertical</key>
      <string>uni250B</string>
      <key>boxHeavyRight</key>
      <string>uni257A</string>
      <key>boxHeavyTripleDashHorizontal</key>
      <string>uni2505</string>
      <key>boxHeavyTripleDashVertical</key>
      <string>uni2507</string>
      <key>boxHeavyUp</key>
      <string>uni2579</string>
      <key>boxHeavyUpAndHorizontal</key>
      <string>uni253B</string>
      <key>boxHeavyUpAndLeft</key>
      <string>uni251B</string>
      <key>boxHeavyUpAndLightDown</key>
      <string>uni257F</string>
      <key>boxHeavyUpAndRight</key>
      <string>uni2517</string>
      <key>boxHeavyVertical</key>
      <string>uni2503</string>
      <key>boxHeavyVerticalAndHorizontal</key>
      <string>uni254B</string>
      <key>boxHeavyVerticalAndLeft</key>
      <string>uni252B</string>
      <key>boxHeavyVerticalAndRight</key>
      <string>uni2523</string>
      <key>boxLeftDownHeavyAndRightUpLight</key>
      <string>uni2545</string>
      <key>boxLeftDownHeavyAndRightUpLight.001</key>
      <string>uni2545.001</string>
      <key>boxLeftHeavyAndRightDownLight</key>
      <string>uni252D</string>
      <key>boxLeftHeavyAndRightUpLight</key>
      <string>uni2535</string>
      <key>boxLeftHeavyAndRightVerticalLight</key>
      <string>uni253D</string>
      <key>boxLeftLightAndRightDownHeavy</key>
      <string>uni2532</string>
      <key>boxLeftLightAndRightUpHeavy</key>
      <string>uni253A</string>
      <key>boxLeftLightAndRightVerticalHeavy</key>
      <string>uni254A</string>
      <key>boxLeftUpHeavyAndRightDownLight</key>
      <string>uni2543</string>
      <key>boxLightArcDownAndLeft</key>
      <string>uni256E</string>
      <key>boxLightArcDownAndRight</key>
      <string>uni256D</string>
      <key>boxLightArcUpAndLeft</key>
      <string>uni256F</string>
      <key>boxLightArcUpAndRight</key>
      <string>uni2570</string>
      <key>boxLightDiagonalCross</key>
      <string>uni2573</string>
      <key>boxLightDiagonalUpperLeftToLowerRight</key>
      <string>uni2572</string>
      <key>boxLightDiagonalUpperRightToLowerLeft</key>
      <string>uni2571</string>
      <key>boxLightDoubleDashHorizontal</key>
      <string>uni254C</string>
      <key>boxLightDoubleDashVertical</key>
      <string>uni254E</string>
      <key>boxLightDown</key>
      <string>uni2577</string>
      <key>boxLightDownAndHorizontal</key>
      <string>uni252C</string>
      <key>boxLightDownAndLeft</key>
      <string>uni2510</string>
      <key>boxLightDownAndRight</key>
      <string>uni250C</string>
      <key>boxLightHorizontal</key>
      <string>uni2500</string>
      <key>boxLightLeft</key>
      <string>uni2574</string>
      <key>boxLightLeftAndHeavyRight</key>
      <string>uni257C</string>
      <key>boxLightQuadrupleDashHorizontal</key>
      <string>uni2508</string>
      <key>boxLightQuadrupleDashVertical</key>
      <string>uni250A</string>
      <key>boxLightRight</key>
      <string>uni2576</string>
      <key>boxLightTripleDashHorizontal</key>
      <string>uni2504</string>
      <key>boxLightTripleDashVertical</key>
      <string>uni2506</string>
      <key>boxLightUp</key>
      <string>uni2575</string>
      <key>boxLightUpAndHeavyDown</key>
      <string>uni257D</string>
      <key>boxLightUpAndLeft</key>
      <string>uni2518</string>
      <key>boxLightUpAndRight</key>
      <string>uni2514</string>
      <key>boxLightVertical</key>
      <string>uni2502</string>
      <key>boxLightVerticalAndHorizontal</key>
      <string>uni253C</string>
      <key>boxLightVerticalAndLeft</key>
      <string>uni2524</string>
      <key>boxLightVerticalAndRight</key>
      <string>uni251C</string>
      <key>boxRightDownHeavyAndLeftUpLight</key>
      <string>uni2546</string>
      <key>boxRightHeavyAndLeftDownLight</key>
      <string>uni252E</string>
      <key>boxRightHeavyAndLeftUpLight</key>
      <string>uni2536</string>
      <key>boxRightHeavyAndLeftVerticalLight</key>
      <string>uni253E</string>
      <key>boxRightLightAndLeftDownHeavy</key>
      <string>uni2531</string>
      <key>boxRightLightAndLeftUpHeavy</key>
      <string>uni2539</string>
      <key>boxRightLightAndLeftVerticalHeavy</key>
      <string>uni2549</string>
      <key>boxRightUpHeavyAndLeftDownLight</key>
      <string>uni2544</string>
      <key>boxUpDoubleAndHorizontalSingle</key>
      <string>uni2568</string>
      <key>boxUpDoubleAndLeftSingle</key>
      <string>uni255C</string>
      <key>boxUpDoubleAndRightSingle</key>
      <string>uni2559</string>
      <key>boxUpHeavyAndDownHorizontalLight</key>
      <string>uni2540</string>
      <key>boxUpHeavyAndHorizontalLight</key>
      <string>uni2538</string>
      <key>boxUpHeavyAndLeftDownLight</key>
      <string>uni2526</string>
      <key>boxUpHeavyAndLeftLight</key>
      <string>uni251A</string>
      <key>boxUpHeavyAndRightDownLight</key>
      <string>uni251E</string>
      <key>boxUpHeavyAndRightLight</key>
      <string>uni2516</string>
      <key>boxUpLightAndDownHorizontalHeavy</key>
      <string>uni2548</string>
      <key>boxUpLightAndHorizontalHeavy</key>
      <string>uni2537</string>
      <key>boxUpLightAndLeftDownHeavy</key>
      <string>uni252A</string>
      <key>boxUpLightAndLeftHeavy</key>
      <string>uni2519</string>
      <key>boxUpLightAndRightDownHeavy</key>
      <string>uni2522</string>
      <key>boxUpLightAndRightHeavy</key>
      <string>uni2515</string>
      <key>boxUpSingleAndHorizontalDouble</key>
      <string>uni2567</string>
      <key>boxUpSingleAndLeftDouble</key>
      <string>uni255B</string>
      <key>boxUpSingleAndRightDouble</key>
      <string>uni2558</string>
      <key>boxVerticalDoubleAndHorizontalSingle</key>
      <string>uni256B</string>
      <key>boxVerticalDoubleAndLeftSingle</key>
      <string>uni2562</string>
      <key>boxVerticalDoubleAndRightSingle</key>
      <string>uni255F</string>
      <key>boxVerticalHeavyAndHorizontalLight</key>
      <string>uni2542</string>
      <key>boxVerticalHeavyAndLeftLight</key>
      <string>uni2528</string>
      <key>boxVerticalHeavyAndRightLight</key>
      <string>uni2520</string>
      <key>boxVerticalLightAndHorizontalHeavy</key>
      <string>uni253F</string>
      <key>boxVerticalLightAndLeftHeavy</key>
      <string>uni2525</string>
      <key>boxVerticalLightAndRightHeavy</key>
      <string>uni251D</string>
      <key>boxVerticalSingleAndHorizontalDouble</key>
      <string>uni256A</string>
      <key>boxVerticalSingleAndLeftDouble</key>
      <string>uni2561</string>
      <key>boxVerticalSingleAndRightDouble</key>
      <string>uni255E</string>
      <key>brevecomb</key>
      <string>uni0306</string>
      <key>brevecomb.case</key>
      <string>uni0306.case</string>
      <key>caroncomb</key>
      <string>uni030C</string>
      <key>caroncomb.case</key>
      <string>uni030C.case</string>
      <key>cedillacomb</key>
      <string>uni0327</string>
      <key>cedillacomb.case</key>
      <string>uni0327.case</string>
      <key>circumflexcomb</key>
      <string>uni0302</string>
      <key>circumflexcomb.case</key>
      <string>uni0302.case</string>
      <key>dieresiscomb</key>
      <string>uni0308</string>
      <key>dieresiscomb.case</key>
      <string>uni0308.case</string>
      <key>dotaccentcomb</key>
      <string>uni0307</string>
      <key>dotaccentcomb.case</key>
      <string>uni0307.case</string>
      <key>ecircumflexacute</key>
      <string>uni1EBF</string>
      <key>ecircumflexdotbelow</key>
      <string>uni1EC7</string>
      <key>ecircumflexgrave</key>
      <string>uni1EC1</string>
      <key>ecircumflexhookabove</key>
      <string>uni1EC3</string>
      <key>ecircumflextilde</key>
      <string>uni1EC5</string>
      <key>edotbelow</key>
      <string>uni1EB9</string>
      <key>ehookabove</key>
      <string>uni1EBB</string>
      <key>etilde</key>
      <string>uni1EBD</string>
      <key>horncomb</key>
      <string>uni031B</string>
      <key>horncomb.case</key>
      <string>uni031B.case</string>
      <key>idotbelow</key>
      <string>uni1ECB</string>
      <key>idotless</key>
      <string>dotlessi</string>
      <key>ihookabove</key>
      <string>uni1EC9</string>
      <key>jdotless</key>
      <string>uni0237</string>
      <key>ocircumflexacute</key>
      <string>uni1ED1</string>
      <key>ocircumflexdotbelow</key>
      <string>uni1ED9</string>
      <key>ocircumflexgrave</key>
      <string>uni1ED3</string>
      <key>ocircumflexhookabove</key>
      <string>uni1ED5</string>
      <key>ocircumflextilde</key>
      <string>uni1ED7</string>
      <key>odotbelow</key>
      <string>uni1ECD</string>
      <key>ohookabove</key>
      <string>uni1ECF</string>
      <key>ohornacute</key>
      <string>uni1EDB</string>
      <key>ohorndotbelow</key>
      <string>uni1EE3</string>
      <key>ohorngrave</key>
      <string>uni1EDD</string>
      <key>ohornhookabove</key>
      <string>uni1EDF</string>
      <key>ohorntilde</key>
      <string>uni1EE1</string>
      <key>ringcomb</key>
      <string>uni030A</string>
      <key>ringcomb.case</key>
      <string>uni030A.case</string>
      <key>udotbelow</key>
      <string>uni1EE5</string>
      <key>uhookabove</key>
      <string>uni1EE7</string>
      <key>uhornacute</key>
      <string>uni1EE9</string>
      <key>uhorndotbelow</key>
      <string>uni1EF1</string>
      <key>uhorngrave</key>
      <string>uni1EEB</string>
      <key>uhornhookabove</key>
      <string>uni1EED</string>
      <key>uhorntilde</key>
      <string>uni1EEF</string>
      <key>ydotbelow</key>
      <string>uni1EF5</string>
      <key>yhookabove</key>
      <string>uni1EF7</string>
      <key>ytilde</key>
      <string>uni1EF9</string>
    </dict>
  </dict>
</plist>
