<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4FBC1B18-96FC-4BD2-B406-F4E983AF6D9B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb_tildecomb</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
