<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A6879D72-59D7-424D-A1C9-D5AE8A4A27CA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.m</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m.both</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m.left</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m.right</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
