<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>48ED695F-750F-4724-9F04-E29C23EFCCA3</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemetleft</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
