<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>5B22296E-2E9F-497B-9F08-B98A81039467</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ordfeminine</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ordmasculine</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
