<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BEE3E525-CA18-4FAE-ABB8-3E118DA981D0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexbelowcomb</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
