<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>99450CBB-ABF3-40F7-B28B-7BC9FE35A9F2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.one</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
