<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E7727535-F723-444E-8FD9-0AE499C02102</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.two</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
