<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>5351B207-E098-4F57-BDC3-58B9C04ED55A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.jdotless</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
