<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0C6C69E3-A2AE-4454-B662-206EE0DF00E2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.f.ss01</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
