<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BD9E892B-97A3-4A7F-868B-5D60FD454DBE</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
