<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0F1F1A13-E63C-440C-9FF8-730478483642</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eng</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
