<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F2DBF8B5-E4A5-4888-A863-BA1322BBB66F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.oe</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
