<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D893B254-7D46-46F1-AC15-920F4EF9107C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.oslash</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
