<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6AB98D22-FE46-4905-A08C-7200FBF47769</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.m</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
