<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>88787295-723C-441D-8F2D-9AD65552B3FF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.l.both</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
