<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2DC88A82-6177-43EE-B347-BEBA35D0BA48</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.l.ss01</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
