<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F66358F7-F504-4011-A797-941DD0045625</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.i.both</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
