<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D4D7CEBF-78BB-4593-A56F-BFD4A97A53AE</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.colon_less_colon</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
