<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7EBDB11C-1301-4107-906E-F4EBEE700D66</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.jdotless</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
