<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B61EAE85-2773-4A47-BA53-7E2FE5BA793A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.a</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
