<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>008F162E-99A6-4172-B48C-F0B018320FE0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciitilde</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
