<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C542B95F-223D-4314-A337-B1C4751409A6</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.comma</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.semicolon</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
