<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>EB80A5BB-82DA-4025-A78F-E2D90FB04EFF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.x</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
