<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>DBFC7434-276F-4AB4-B221-D16B293894E6</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclam</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.question</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
