<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2BA26761-8D9C-4CC7-B3C5-2B4EA5CE5916</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dcroat</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
