<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>31AA913B-2C5C-4A58-9474-711311577D54</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.m</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
