<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>EB84FE50-8BD9-42CB-8131-BA970949D7A0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.d</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
