<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>CFB8D112-BE82-41F2-A76B-2D2BA6E83147</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.C</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
