<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>94E76E96-108C-4D0A-AF68-5D3528DBBFD9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.o.ss01</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
