<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>10C5104B-B35E-4053-AC65-881900FB5C4E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ydotbelow</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
