<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BFEF781B-8D5C-4421-A1A8-BFB9436AF4A3</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.asterisk</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
