<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D5C69B0A-D88D-4A59-AC08-A7F315AA3D29</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.o</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
