<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>781BCA4B-CC9E-433C-929B-131BA2F87943</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.s.ss01</key>
      <integer>17</integer>
    </dict>
  </dict>
</plist>
