<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BA05E055-9C11-41E7-B3F1-48F3C81CDDCB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenleft</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenright</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.question</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
