<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A903F2B4-B582-4532-B4BB-C41C9E341D41</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.d</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
