<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>92AD7008-B550-481E-B79D-30E2B790E679</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceleft</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceright</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
