<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8E74F0CE-3FDE-49EC-94B6-752BCE5117FB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.naira</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
