<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C648150A-4B4A-4DA8-A93D-097EC073C9B3</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.o</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
