<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0D9FAB28-9E5F-4D4E-8DFA-7477A2D3E3BA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Z</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
