<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0BF74434-FC93-4A18-A5A9-73CC9D6BFCBC</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.s</key>
      <integer>14</integer>
    </dict>
  </dict>
</plist>
