<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0DDE6CC2-F510-4A5F-A99B-B21B4360CFBC</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.G</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
