<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>AD427C19-739A-4584-961C-38029307C8AB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexbelowcomb</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
