<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>70B86E92-9941-4451-9147-B38D9DD49CA3</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.f</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
