<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>78C865F3-28F1-49FC-A4A3-A8EC0303A93E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Schwa</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
