<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7F1016B4-C8B4-493B-B012-F2428F48749B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.h</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
