<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A8448305-33B5-4E89-A9D1-EACE54140581</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.m</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
