<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D0217FC9-177B-47C4-95B2-576CA7B6BCD5</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.OE</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
