<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Abreve</key>
    <string>A_breve.glif</string>
    <key>Abreveacute</key>
    <string>A_breveacute.glif</string>
    <key>Abrevedotbelow</key>
    <string>A_brevedotbelow.glif</string>
    <key>Abrevegrave</key>
    <string>A_brevegrave.glif</string>
    <key>Abrevehookabove</key>
    <string>A_brevehookabove.glif</string>
    <key>Abrevetilde</key>
    <string>A_brevetilde.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Acircumflexacute</key>
    <string>A_circumflexacute.glif</string>
    <key>Acircumflexdotbelow</key>
    <string>A_circumflexdotbelow.glif</string>
    <key>Acircumflexgrave</key>
    <string>A_circumflexgrave.glif</string>
    <key>Acircumflexhookabove</key>
    <string>A_circumflexhookabove.glif</string>
    <key>Acircumflextilde</key>
    <string>A_circumflextilde.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Adotbelow</key>
    <string>A_dotbelow.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Ahookabove</key>
    <string>A_hookabove.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Ecircumflexacute</key>
    <string>E_circumflexacute.glif</string>
    <key>Ecircumflexdotbelow</key>
    <string>E_circumflexdotbelow.glif</string>
    <key>Ecircumflexgrave</key>
    <string>E_circumflexgrave.glif</string>
    <key>Ecircumflexhookabove</key>
    <string>E_circumflexhookabove.glif</string>
    <key>Ecircumflextilde</key>
    <string>E_circumflextilde.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Edotbelow</key>
    <string>E_dotbelow.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Ehookabove</key>
    <string>E_hookabove.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Etilde</key>
    <string>E_tilde.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Gbreve</key>
    <string>G_breve.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Idotaccent</key>
    <string>I_dotaccent.glif</string>
    <key>Idotbelow</key>
    <string>I_dotbelow.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Ihookabove</key>
    <string>I_hookabove.glif</string>
    <key>Itilde</key>
    <string>I_tilde.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Ocircumflexacute</key>
    <string>O_circumflexacute.glif</string>
    <key>Ocircumflexdotbelow</key>
    <string>O_circumflexdotbelow.glif</string>
    <key>Ocircumflexgrave</key>
    <string>O_circumflexgrave.glif</string>
    <key>Ocircumflexhookabove</key>
    <string>O_circumflexhookabove.glif</string>
    <key>Ocircumflextilde</key>
    <string>O_circumflextilde.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Odotbelow</key>
    <string>O_dotbelow.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Ohookabove</key>
    <string>O_hookabove.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Ohornacute</key>
    <string>O_hornacute.glif</string>
    <key>Ohorndotbelow</key>
    <string>O_horndotbelow.glif</string>
    <key>Ohorngrave</key>
    <string>O_horngrave.glif</string>
    <key>Ohornhookabove</key>
    <string>O_hornhookabove.glif</string>
    <key>Ohorntilde</key>
    <string>O_horntilde.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Scaron</key>
    <string>S_caron.glif</string>
    <key>Scedilla</key>
    <string>S_cedilla.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Udotbelow</key>
    <string>U_dotbelow.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Uhookabove</key>
    <string>U_hookabove.glif</string>
    <key>Uhorn</key>
    <string>U_horn.glif</string>
    <key>Uhornacute</key>
    <string>U_hornacute.glif</string>
    <key>Uhorndotbelow</key>
    <string>U_horndotbelow.glif</string>
    <key>Uhorngrave</key>
    <string>U_horngrave.glif</string>
    <key>Uhornhookabove</key>
    <string>U_hornhookabove.glif</string>
    <key>Uhorntilde</key>
    <string>U_horntilde.glif</string>
    <key>Utilde</key>
    <string>U_tilde.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Ydieresis</key>
    <string>Y_dieresis.glif</string>
    <key>Ydotbelow</key>
    <string>Y_dotbelow.glif</string>
    <key>Ygrave</key>
    <string>Y_grave.glif</string>
    <key>Yhookabove</key>
    <string>Y_hookabove.glif</string>
    <key>Ytilde</key>
    <string>Y_tilde.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Zcaron</key>
    <string>Z_caron.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>abreve</key>
    <string>abreve.glif</string>
    <key>abreveacute</key>
    <string>abreveacute.glif</string>
    <key>abrevedotbelow</key>
    <string>abrevedotbelow.glif</string>
    <key>abrevegrave</key>
    <string>abrevegrave.glif</string>
    <key>abrevehookabove</key>
    <string>abrevehookabove.glif</string>
    <key>abrevetilde</key>
    <string>abrevetilde.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>acircumflexacute</key>
    <string>acircumflexacute.glif</string>
    <key>acircumflexdotbelow</key>
    <string>acircumflexdotbelow.glif</string>
    <key>acircumflexgrave</key>
    <string>acircumflexgrave.glif</string>
    <key>acircumflexhookabove</key>
    <string>acircumflexhookabove.glif</string>
    <key>acircumflextilde</key>
    <string>acircumflextilde.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>acutecomb.case</key>
    <string>acutecomb.case.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>adotbelow</key>
    <string>adotbelow.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>ahookabove</key>
    <string>ahookabove.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>ampersand.spacer</key>
    <string>ampersand.spacer.glif</string>
    <key>ampersand_ampersand</key>
    <string>ampersand_ampersand.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>asterisk.spacer</key>
    <string>asterisk.spacer.glif</string>
    <key>asterisk_asterisk</key>
    <string>asterisk_asterisk.glif</string>
    <key>asterisk_asterisk_asterisk</key>
    <string>asterisk_asterisk_asterisk.glif</string>
    <key>asterisk_greater</key>
    <string>asterisk_greater.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>bar.spacer</key>
    <string>bar.spacer.glif</string>
    <key>bar_bar</key>
    <string>bar_bar.glif</string>
    <key>bar_bar_bar_greater</key>
    <string>bar_bar_bar_greater.glif</string>
    <key>bar_bar_greater</key>
    <string>bar_bar_greater.glif</string>
    <key>bar_bracketright</key>
    <string>bar_bracketright.glif</string>
    <key>bar_greater</key>
    <string>bar_greater.glif</string>
    <key>boxDoubleDownAndHorizontal</key>
    <string>boxD_oubleD_ownA_ndH_orizontal.glif</string>
    <key>boxDoubleDownAndLeft</key>
    <string>boxD_oubleD_ownA_ndL_eft.glif</string>
    <key>boxDoubleDownAndRight</key>
    <string>boxD_oubleD_ownA_ndR_ight.glif</string>
    <key>boxDoubleHorizontal</key>
    <string>boxD_oubleH_orizontal.glif</string>
    <key>boxDoubleUpAndHorizontal</key>
    <string>boxD_oubleU_pA_ndH_orizontal.glif</string>
    <key>boxDoubleUpAndLeft</key>
    <string>boxD_oubleU_pA_ndL_eft.glif</string>
    <key>boxDoubleUpAndRight</key>
    <string>boxD_oubleU_pA_ndR_ight.glif</string>
    <key>boxDoubleVertical</key>
    <string>boxD_oubleV_ertical.glif</string>
    <key>boxDoubleVerticalAndHorizontal</key>
    <string>boxD_oubleV_erticalA_ndH_orizontal.glif</string>
    <key>boxDoubleVerticalAndLeft</key>
    <string>boxD_oubleV_erticalA_ndL_eft.glif</string>
    <key>boxDoubleVerticalAndRight</key>
    <string>boxD_oubleV_erticalA_ndR_ight.glif</string>
    <key>boxDownDoubleAndHorizontalSingle</key>
    <string>boxD_ownD_oubleA_ndH_orizontalS_ingle.glif</string>
    <key>boxDownDoubleAndLeftSingle</key>
    <string>boxD_ownD_oubleA_ndL_eftS_ingle.glif</string>
    <key>boxDownDoubleAndRightSingle</key>
    <string>boxD_ownD_oubleA_ndR_ightS_ingle.glif</string>
    <key>boxDownHeavyAndHorizontalLight</key>
    <string>boxD_ownH_eavyA_ndH_orizontalL_ight.glif</string>
    <key>boxDownHeavyAndLeftLight</key>
    <string>boxD_ownH_eavyA_ndL_eftL_ight.glif</string>
    <key>boxDownHeavyAndLeftUpLight</key>
    <string>boxD_ownH_eavyA_ndL_eftU_pL_ight.glif</string>
    <key>boxDownHeavyAndRightLight</key>
    <string>boxD_ownH_eavyA_ndR_ightL_ight.glif</string>
    <key>boxDownHeavyAndRightUpLight</key>
    <string>boxD_ownH_eavyA_ndR_ightU_pL_ight.glif</string>
    <key>boxDownHeavyAndUpHorizontalLight</key>
    <string>boxD_ownH_eavyA_ndU_pH_orizontalL_ight.glif</string>
    <key>boxDownLightAndHorizontalHeavy</key>
    <string>boxD_ownL_ightA_ndH_orizontalH_eavy.glif</string>
    <key>boxDownLightAndLeftHeavy</key>
    <string>boxD_ownL_ightA_ndL_eftH_eavy.glif</string>
    <key>boxDownLightAndLeftUpHeavy</key>
    <string>boxD_ownL_ightA_ndL_eftU_pH_eavy.glif</string>
    <key>boxDownLightAndRightHeavy</key>
    <string>boxD_ownL_ightA_ndR_ightH_eavy.glif</string>
    <key>boxDownLightAndRightUpHeavy</key>
    <string>boxD_ownL_ightA_ndR_ightU_pH_eavy.glif</string>
    <key>boxDownLightAndUpHorizontalHeavy</key>
    <string>boxD_ownL_ightA_ndU_pH_orizontalH_eavy.glif</string>
    <key>boxDownSingleAndHorizontalDouble</key>
    <string>boxD_ownS_ingleA_ndH_orizontalD_ouble.glif</string>
    <key>boxDownSingleAndLeftDouble</key>
    <string>boxD_ownS_ingleA_ndL_eftD_ouble.glif</string>
    <key>boxDownSingleAndRightDouble</key>
    <string>boxD_ownS_ingleA_ndR_ightD_ouble.glif</string>
    <key>boxHeavyDoubleDashHorizontal</key>
    <string>boxH_eavyD_oubleD_ashH_orizontal.glif</string>
    <key>boxHeavyDoubleDashVertical</key>
    <string>boxH_eavyD_oubleD_ashV_ertical.glif</string>
    <key>boxHeavyDown</key>
    <string>boxH_eavyD_own.glif</string>
    <key>boxHeavyDownAndHorizontal</key>
    <string>boxH_eavyD_ownA_ndH_orizontal.glif</string>
    <key>boxHeavyDownAndLeft</key>
    <string>boxH_eavyD_ownA_ndL_eft.glif</string>
    <key>boxHeavyDownAndRight</key>
    <string>boxH_eavyD_ownA_ndR_ight.glif</string>
    <key>boxHeavyHorizontal</key>
    <string>boxH_eavyH_orizontal.glif</string>
    <key>boxHeavyLeft</key>
    <string>boxH_eavyL_eft.glif</string>
    <key>boxHeavyLeftAndLightRight</key>
    <string>boxH_eavyL_eftA_ndL_ightR_ight.glif</string>
    <key>boxHeavyQuadrupleDashHorizontal</key>
    <string>boxH_eavyQ_uadrupleD_ashH_orizontal.glif</string>
    <key>boxHeavyQuadrupleDashVertical</key>
    <string>boxH_eavyQ_uadrupleD_ashV_ertical.glif</string>
    <key>boxHeavyRight</key>
    <string>boxH_eavyR_ight.glif</string>
    <key>boxHeavyTripleDashHorizontal</key>
    <string>boxH_eavyT_ripleD_ashH_orizontal.glif</string>
    <key>boxHeavyTripleDashVertical</key>
    <string>boxH_eavyT_ripleD_ashV_ertical.glif</string>
    <key>boxHeavyUp</key>
    <string>boxH_eavyU_p.glif</string>
    <key>boxHeavyUpAndHorizontal</key>
    <string>boxH_eavyU_pA_ndH_orizontal.glif</string>
    <key>boxHeavyUpAndLeft</key>
    <string>boxH_eavyU_pA_ndL_eft.glif</string>
    <key>boxHeavyUpAndLightDown</key>
    <string>boxH_eavyU_pA_ndL_ightD_own.glif</string>
    <key>boxHeavyUpAndRight</key>
    <string>boxH_eavyU_pA_ndR_ight.glif</string>
    <key>boxHeavyVertical</key>
    <string>boxH_eavyV_ertical.glif</string>
    <key>boxHeavyVerticalAndHorizontal</key>
    <string>boxH_eavyV_erticalA_ndH_orizontal.glif</string>
    <key>boxHeavyVerticalAndLeft</key>
    <string>boxH_eavyV_erticalA_ndL_eft.glif</string>
    <key>boxHeavyVerticalAndRight</key>
    <string>boxH_eavyV_erticalA_ndR_ight.glif</string>
    <key>boxLeftDownHeavyAndRightUpLight</key>
    <string>boxL_eftD_ownH_eavyA_ndR_ightU_pL_ight.glif</string>
    <key>boxLeftDownHeavyAndRightUpLight.001</key>
    <string>boxL_eftD_ownH_eavyA_ndR_ightU_pL_ight.001.glif</string>
    <key>boxLeftHeavyAndRightDownLight</key>
    <string>boxL_eftH_eavyA_ndR_ightD_ownL_ight.glif</string>
    <key>boxLeftHeavyAndRightUpLight</key>
    <string>boxL_eftH_eavyA_ndR_ightU_pL_ight.glif</string>
    <key>boxLeftHeavyAndRightVerticalLight</key>
    <string>boxL_eftH_eavyA_ndR_ightV_erticalL_ight.glif</string>
    <key>boxLeftLightAndRightDownHeavy</key>
    <string>boxL_eftL_ightA_ndR_ightD_ownH_eavy.glif</string>
    <key>boxLeftLightAndRightUpHeavy</key>
    <string>boxL_eftL_ightA_ndR_ightU_pH_eavy.glif</string>
    <key>boxLeftLightAndRightVerticalHeavy</key>
    <string>boxL_eftL_ightA_ndR_ightV_erticalH_eavy.glif</string>
    <key>boxLeftUpHeavyAndRightDownLight</key>
    <string>boxL_eftU_pH_eavyA_ndR_ightD_ownL_ight.glif</string>
    <key>boxLightArcDownAndLeft</key>
    <string>boxL_ightA_rcD_ownA_ndL_eft.glif</string>
    <key>boxLightArcDownAndRight</key>
    <string>boxL_ightA_rcD_ownA_ndR_ight.glif</string>
    <key>boxLightArcUpAndLeft</key>
    <string>boxL_ightA_rcU_pA_ndL_eft.glif</string>
    <key>boxLightArcUpAndRight</key>
    <string>boxL_ightA_rcU_pA_ndR_ight.glif</string>
    <key>boxLightDiagonalCross</key>
    <string>boxL_ightD_iagonalC_ross.glif</string>
    <key>boxLightDiagonalUpperLeftToLowerRight</key>
    <string>boxL_ightD_iagonalU_pperL_eftT_oL_owerR_ight.glif</string>
    <key>boxLightDiagonalUpperRightToLowerLeft</key>
    <string>boxL_ightD_iagonalU_pperR_ightT_oL_owerL_eft.glif</string>
    <key>boxLightDoubleDashHorizontal</key>
    <string>boxL_ightD_oubleD_ashH_orizontal.glif</string>
    <key>boxLightDoubleDashVertical</key>
    <string>boxL_ightD_oubleD_ashV_ertical.glif</string>
    <key>boxLightDown</key>
    <string>boxL_ightD_own.glif</string>
    <key>boxLightDownAndHorizontal</key>
    <string>boxL_ightD_ownA_ndH_orizontal.glif</string>
    <key>boxLightDownAndLeft</key>
    <string>boxL_ightD_ownA_ndL_eft.glif</string>
    <key>boxLightDownAndRight</key>
    <string>boxL_ightD_ownA_ndR_ight.glif</string>
    <key>boxLightHorizontal</key>
    <string>boxL_ightH_orizontal.glif</string>
    <key>boxLightLeft</key>
    <string>boxL_ightL_eft.glif</string>
    <key>boxLightLeftAndHeavyRight</key>
    <string>boxL_ightL_eftA_ndH_eavyR_ight.glif</string>
    <key>boxLightQuadrupleDashHorizontal</key>
    <string>boxL_ightQ_uadrupleD_ashH_orizontal.glif</string>
    <key>boxLightQuadrupleDashVertical</key>
    <string>boxL_ightQ_uadrupleD_ashV_ertical.glif</string>
    <key>boxLightRight</key>
    <string>boxL_ightR_ight.glif</string>
    <key>boxLightTripleDashHorizontal</key>
    <string>boxL_ightT_ripleD_ashH_orizontal.glif</string>
    <key>boxLightTripleDashVertical</key>
    <string>boxL_ightT_ripleD_ashV_ertical.glif</string>
    <key>boxLightUp</key>
    <string>boxL_ightU_p.glif</string>
    <key>boxLightUpAndHeavyDown</key>
    <string>boxL_ightU_pA_ndH_eavyD_own.glif</string>
    <key>boxLightUpAndLeft</key>
    <string>boxL_ightU_pA_ndL_eft.glif</string>
    <key>boxLightUpAndRight</key>
    <string>boxL_ightU_pA_ndR_ight.glif</string>
    <key>boxLightVertical</key>
    <string>boxL_ightV_ertical.glif</string>
    <key>boxLightVerticalAndHorizontal</key>
    <string>boxL_ightV_erticalA_ndH_orizontal.glif</string>
    <key>boxLightVerticalAndLeft</key>
    <string>boxL_ightV_erticalA_ndL_eft.glif</string>
    <key>boxLightVerticalAndRight</key>
    <string>boxL_ightV_erticalA_ndR_ight.glif</string>
    <key>boxRightDownHeavyAndLeftUpLight</key>
    <string>boxR_ightD_ownH_eavyA_ndL_eftU_pL_ight.glif</string>
    <key>boxRightHeavyAndLeftDownLight</key>
    <string>boxR_ightH_eavyA_ndL_eftD_ownL_ight.glif</string>
    <key>boxRightHeavyAndLeftUpLight</key>
    <string>boxR_ightH_eavyA_ndL_eftU_pL_ight.glif</string>
    <key>boxRightHeavyAndLeftVerticalLight</key>
    <string>boxR_ightH_eavyA_ndL_eftV_erticalL_ight.glif</string>
    <key>boxRightLightAndLeftDownHeavy</key>
    <string>boxR_ightL_ightA_ndL_eftD_ownH_eavy.glif</string>
    <key>boxRightLightAndLeftUpHeavy</key>
    <string>boxR_ightL_ightA_ndL_eftU_pH_eavy.glif</string>
    <key>boxRightLightAndLeftVerticalHeavy</key>
    <string>boxR_ightL_ightA_ndL_eftV_erticalH_eavy.glif</string>
    <key>boxRightUpHeavyAndLeftDownLight</key>
    <string>boxR_ightU_pH_eavyA_ndL_eftD_ownL_ight.glif</string>
    <key>boxUpDoubleAndHorizontalSingle</key>
    <string>boxU_pD_oubleA_ndH_orizontalS_ingle.glif</string>
    <key>boxUpDoubleAndLeftSingle</key>
    <string>boxU_pD_oubleA_ndL_eftS_ingle.glif</string>
    <key>boxUpDoubleAndRightSingle</key>
    <string>boxU_pD_oubleA_ndR_ightS_ingle.glif</string>
    <key>boxUpHeavyAndDownHorizontalLight</key>
    <string>boxU_pH_eavyA_ndD_ownH_orizontalL_ight.glif</string>
    <key>boxUpHeavyAndHorizontalLight</key>
    <string>boxU_pH_eavyA_ndH_orizontalL_ight.glif</string>
    <key>boxUpHeavyAndLeftDownLight</key>
    <string>boxU_pH_eavyA_ndL_eftD_ownL_ight.glif</string>
    <key>boxUpHeavyAndLeftLight</key>
    <string>boxU_pH_eavyA_ndL_eftL_ight.glif</string>
    <key>boxUpHeavyAndRightDownLight</key>
    <string>boxU_pH_eavyA_ndR_ightD_ownL_ight.glif</string>
    <key>boxUpHeavyAndRightLight</key>
    <string>boxU_pH_eavyA_ndR_ightL_ight.glif</string>
    <key>boxUpLightAndDownHorizontalHeavy</key>
    <string>boxU_pL_ightA_ndD_ownH_orizontalH_eavy.glif</string>
    <key>boxUpLightAndHorizontalHeavy</key>
    <string>boxU_pL_ightA_ndH_orizontalH_eavy.glif</string>
    <key>boxUpLightAndLeftDownHeavy</key>
    <string>boxU_pL_ightA_ndL_eftD_ownH_eavy.glif</string>
    <key>boxUpLightAndLeftHeavy</key>
    <string>boxU_pL_ightA_ndL_eftH_eavy.glif</string>
    <key>boxUpLightAndRightDownHeavy</key>
    <string>boxU_pL_ightA_ndR_ightD_ownH_eavy.glif</string>
    <key>boxUpLightAndRightHeavy</key>
    <string>boxU_pL_ightA_ndR_ightH_eavy.glif</string>
    <key>boxUpSingleAndHorizontalDouble</key>
    <string>boxU_pS_ingleA_ndH_orizontalD_ouble.glif</string>
    <key>boxUpSingleAndLeftDouble</key>
    <string>boxU_pS_ingleA_ndL_eftD_ouble.glif</string>
    <key>boxUpSingleAndRightDouble</key>
    <string>boxU_pS_ingleA_ndR_ightD_ouble.glif</string>
    <key>boxVerticalDoubleAndHorizontalSingle</key>
    <string>boxV_erticalD_oubleA_ndH_orizontalS_ingle.glif</string>
    <key>boxVerticalDoubleAndLeftSingle</key>
    <string>boxV_erticalD_oubleA_ndL_eftS_ingle.glif</string>
    <key>boxVerticalDoubleAndRightSingle</key>
    <string>boxV_erticalD_oubleA_ndR_ightS_ingle.glif</string>
    <key>boxVerticalHeavyAndHorizontalLight</key>
    <string>boxV_erticalH_eavyA_ndH_orizontalL_ight.glif</string>
    <key>boxVerticalHeavyAndLeftLight</key>
    <string>boxV_erticalH_eavyA_ndL_eftL_ight.glif</string>
    <key>boxVerticalHeavyAndRightLight</key>
    <string>boxV_erticalH_eavyA_ndR_ightL_ight.glif</string>
    <key>boxVerticalLightAndHorizontalHeavy</key>
    <string>boxV_erticalL_ightA_ndH_orizontalH_eavy.glif</string>
    <key>boxVerticalLightAndLeftHeavy</key>
    <string>boxV_erticalL_ightA_ndL_eftH_eavy.glif</string>
    <key>boxVerticalLightAndRightHeavy</key>
    <string>boxV_erticalL_ightA_ndR_ightH_eavy.glif</string>
    <key>boxVerticalSingleAndHorizontalDouble</key>
    <string>boxV_erticalS_ingleA_ndH_orizontalD_ouble.glif</string>
    <key>boxVerticalSingleAndLeftDouble</key>
    <string>boxV_erticalS_ingleA_ndL_eftD_ouble.glif</string>
    <key>boxVerticalSingleAndRightDouble</key>
    <string>boxV_erticalS_ingleA_ndR_ightD_ouble.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketleft.spacer</key>
    <string>bracketleft.spacer.glif</string>
    <key>bracketleft_bar</key>
    <string>bracketleft_bar.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>breveacutecomb</key>
    <string>breveacutecomb.glif</string>
    <key>breveacutecomb.case</key>
    <string>breveacutecomb.case.glif</string>
    <key>brevecomb</key>
    <string>brevecomb.glif</string>
    <key>brevecomb.case</key>
    <string>brevecomb.case.glif</string>
    <key>brevegravecomb</key>
    <string>brevegravecomb.glif</string>
    <key>brevegravecomb.case</key>
    <string>brevegravecomb.case.glif</string>
    <key>brevehookabovecomb</key>
    <string>brevehookabovecomb.glif</string>
    <key>brevehookabovecomb.case</key>
    <string>brevehookabovecomb.case.glif</string>
    <key>brevetildecomb</key>
    <string>brevetildecomb.glif</string>
    <key>brevetildecomb.case</key>
    <string>brevetildecomb.case.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>caroncomb.case</key>
    <string>caroncomb.case.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>cedillacomb.case</key>
    <string>cedillacomb.case.glif</string>
    <key>circumflexacutecomb</key>
    <string>circumflexacutecomb.glif</string>
    <key>circumflexacutecomb.case</key>
    <string>circumflexacutecomb.case.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>circumflexcomb.case</key>
    <string>circumflexcomb.case.glif</string>
    <key>circumflexgravecomb</key>
    <string>circumflexgravecomb.glif</string>
    <key>circumflexgravecomb.case</key>
    <string>circumflexgravecomb.case.glif</string>
    <key>circumflexhookabovecomb</key>
    <string>circumflexhookabovecomb.glif</string>
    <key>circumflexhookabovecomb.case</key>
    <string>circumflexhookabovecomb.case.glif</string>
    <key>circumflextildecomb</key>
    <string>circumflextildecomb.glif</string>
    <key>circumflextildecomb.case</key>
    <string>circumflextildecomb.case.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>colon.spacer</key>
    <string>colon.spacer.glif</string>
    <key>colon_colon</key>
    <string>colon_colon.glif</string>
    <key>colon_colon_colon</key>
    <string>colon_colon_colon.glif</string>
    <key>colon_equal</key>
    <string>colon_equal.glif</string>
    <key>colon_greater_colon</key>
    <string>colon_greater_colon.glif</string>
    <key>colon_less_colon</key>
    <string>colon_less_colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>dieresiscomb.case</key>
    <string>dieresiscomb.case.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dollar.spacer</key>
    <string>dollar.spacer.glif</string>
    <key>dollar_greater</key>
    <string>dollar_greater.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>dotaccentcomb.case</key>
    <string>dotaccentcomb.case.glif</string>
    <key>dotbelowcomb</key>
    <string>dotbelowcomb.glif</string>
    <key>dotbelowcomb.case</key>
    <string>dotbelowcomb.case.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>ecircumflexacute</key>
    <string>ecircumflexacute.glif</string>
    <key>ecircumflexdotbelow</key>
    <string>ecircumflexdotbelow.glif</string>
    <key>ecircumflexgrave</key>
    <string>ecircumflexgrave.glif</string>
    <key>ecircumflexhookabove</key>
    <string>ecircumflexhookabove.glif</string>
    <key>ecircumflextilde</key>
    <string>ecircumflextilde.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>edotbelow</key>
    <string>edotbelow.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>ehookabove</key>
    <string>ehookabove.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>equal.spacer</key>
    <string>equal.spacer.glif</string>
    <key>equal_colon_equal</key>
    <string>equal_colon_equal.glif</string>
    <key>equal_equal</key>
    <string>equal_equal.glif</string>
    <key>equal_equal_equal</key>
    <string>equal_equal_equal.glif</string>
    <key>equal_exclam_equal</key>
    <string>equal_exclam_equal.glif</string>
    <key>equal_greater</key>
    <string>equal_greater.glif</string>
    <key>equal_greater_equal</key>
    <string>equal_greater_equal.glif</string>
    <key>equal_greater_greater</key>
    <string>equal_greater_greater.glif</string>
    <key>equal_less_equal</key>
    <string>equal_less_equal.glif</string>
    <key>equal_less_less</key>
    <string>equal_less_less.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>etilde</key>
    <string>etilde.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclam.spacer</key>
    <string>exclam.spacer.glif</string>
    <key>exclam_equal</key>
    <string>exclam_equal.glif</string>
    <key>exclam_equal_equal</key>
    <string>exclam_equal_equal.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>gbreve</key>
    <string>gbreve.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>gravecomb.case</key>
    <string>gravecomb.case.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>greater.spacer</key>
    <string>greater.spacer.glif</string>
    <key>greater_equal_greater</key>
    <string>greater_equal_greater.glif</string>
    <key>greater_greater</key>
    <string>greater_greater.glif</string>
    <key>greater_greater_greater</key>
    <string>greater_greater_greater.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>hookabovecomb.case</key>
    <string>hookabovecomb.case.glif</string>
    <key>horncomb</key>
    <string>horncomb.glif</string>
    <key>horncomb.case</key>
    <string>horncomb.case.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphen.spacer</key>
    <string>hyphen.spacer.glif</string>
    <key>hyphen_greater</key>
    <string>hyphen_greater.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>idotbelow</key>
    <string>idotbelow.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>ihookabove</key>
    <string>ihookabove.glif</string>
    <key>itilde</key>
    <string>itilde.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>less.spacer</key>
    <string>less.spacer.glif</string>
    <key>less_asterisk</key>
    <string>less_asterisk.glif</string>
    <key>less_asterisk_greater</key>
    <string>less_asterisk_greater.glif</string>
    <key>less_bar</key>
    <string>less_bar.glif</string>
    <key>less_bar_bar</key>
    <string>less_bar_bar.glif</string>
    <key>less_bar_bar_bar</key>
    <string>less_bar_bar_bar.glif</string>
    <key>less_bar_greater</key>
    <string>less_bar_greater.glif</string>
    <key>less_dollar</key>
    <string>less_dollar.glif</string>
    <key>less_dollar_greater</key>
    <string>less_dollar_greater.glif</string>
    <key>less_equal_greater</key>
    <string>less_equal_greater.glif</string>
    <key>less_equal_less</key>
    <string>less_equal_less.glif</string>
    <key>less_greater</key>
    <string>less_greater.glif</string>
    <key>less_hyphen</key>
    <string>less_hyphen.glif</string>
    <key>less_less</key>
    <string>less_less.glif</string>
    <key>less_less_less</key>
    <string>less_less_less.glif</string>
    <key>less_plus</key>
    <string>less_plus.glif</string>
    <key>less_plus_greater</key>
    <string>less_plus_greater.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>numbersign.spacer</key>
    <string>numbersign.spacer.glif</string>
    <key>numbersign_equal</key>
    <string>numbersign_equal.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>ocircumflexacute</key>
    <string>ocircumflexacute.glif</string>
    <key>ocircumflexdotbelow</key>
    <string>ocircumflexdotbelow.glif</string>
    <key>ocircumflexgrave</key>
    <string>ocircumflexgrave.glif</string>
    <key>ocircumflexhookabove</key>
    <string>ocircumflexhookabove.glif</string>
    <key>ocircumflextilde</key>
    <string>ocircumflextilde.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>odotbelow</key>
    <string>odotbelow.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>ohookabove</key>
    <string>ohookabove.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>ohornacute</key>
    <string>ohornacute.glif</string>
    <key>ohorndotbelow</key>
    <string>ohorndotbelow.glif</string>
    <key>ohorngrave</key>
    <string>ohorngrave.glif</string>
    <key>ohornhookabove</key>
    <string>ohornhookabove.glif</string>
    <key>ohorntilde</key>
    <string>ohorntilde.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>percent.spacer</key>
    <string>percent.spacer.glif</string>
    <key>percent_percent</key>
    <string>percent_percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>period.spacer</key>
    <string>period.spacer.glif</string>
    <key>period_equal</key>
    <string>period_equal.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plus.spacer</key>
    <string>plus.spacer.glif</string>
    <key>plus_greater</key>
    <string>plus_greater.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>question.spacer</key>
    <string>question.spacer.glif</string>
    <key>question_question</key>
    <string>question_question.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>ringcomb.case</key>
    <string>ringcomb.case.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>scaron</key>
    <string>scaron.glif</string>
    <key>scedilla</key>
    <string>scedilla.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>slash.spacer</key>
    <string>slash.spacer.glif</string>
    <key>slash_slash</key>
    <string>slash_slash.glif</string>
    <key>slash_slash_slash</key>
    <string>slash_slash_slash.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>udotbelow</key>
    <string>udotbelow.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>uhookabove</key>
    <string>uhookabove.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>uhornacute</key>
    <string>uhornacute.glif</string>
    <key>uhorndotbelow</key>
    <string>uhorndotbelow.glif</string>
    <key>uhorngrave</key>
    <string>uhorngrave.glif</string>
    <key>uhornhookabove</key>
    <string>uhornhookabove.glif</string>
    <key>uhorntilde</key>
    <string>uhorntilde.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>utilde</key>
    <string>utilde.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>ydotbelow</key>
    <string>ydotbelow.glif</string>
    <key>ygrave</key>
    <string>ygrave.glif</string>
    <key>yhookabove</key>
    <string>yhookabove.glif</string>
    <key>ytilde</key>
    <string>ytilde.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zcaron</key>
    <string>zcaron.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
