<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>066E5194-B101-4670-9FCE-12749931DB69</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.registered</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
