<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>87736E8B-4854-4AB8-9CFA-E5E29BAA3F04</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand_ampersand</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
