<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9CA989CF-7319-4F03-8649-FC43C4F14A81</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.q</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.s.ss01</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
