<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>34207099-0B75-49BE-9E05-59E27545A89D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.euro</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
