<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>40BE80CB-186B-4462-A84A-49FA5DD4AC3D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen_greater</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
