<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>EFA8CF35-4A59-4F7E-82F6-273D45469BEC</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.q</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
