<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>AEF2642B-2299-4CB3-9193-CFC1EEDA246D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.s</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
