<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F63B47DE-0AE1-4EA5-98ED-CE013DE95C14</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.asterisk</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
