<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>41D6181C-7228-4DCE-B71D-22BA365601BB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemetleft</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
