<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>DC78B9CE-950F-4110-AED5-D8FED5506147</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclam_equal</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
