<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7E8A29FE-F71D-48DA-B530-02BBFA1727C7</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.W</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
