<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>80A13840-F502-44D8-8D54-2DCEC97B7301</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.y</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
