<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>05246E37-2329-404E-A317-F8D7E0599E8C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.greaterequal</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
