<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8CA68334-D725-4D0C-8EA5-5AFBD888417E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.daggerdbl</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
