<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2C6912EC-C47E-454D-9C7F-A5CEFBF82EF4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
