<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7DCC9AB1-35BA-45AA-8C63-BE59E368D5D1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.u</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
