<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F850E069-D7E3-4896-BA2B-E21FB873FE83</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedillacomb</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedillacomb.case</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
