<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B21BAB3C-45DE-4050-A4C7-07F1F703160D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketleft_bar</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
