<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7E55CF5C-8D58-4A73-9173-CC787305E001</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.peso</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
