<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>712B3DF0-3767-4A7C-B26B-1935BC9BABBB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.caroncomb</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
