<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>05781005-4D58-4088-BFEB-3889E7A6AA04</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.b</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
