<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D7A14782-06F7-41A0-AE0D-47E0F6441FA6</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.two</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
