<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D4F59921-AF5D-428C-BC7D-EC5EE15FAA8A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_bar_bar_bar</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
