<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D64A8917-5AAC-42F5-A850-C95746E067B8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemetleft</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
