<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>848A9BC8-4EAA-42D6-B3D2-975722C16A2A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.lacute</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
