<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C05DCC59-A9FF-426F-8602-C34FD8F29B9E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.six</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
