<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C45B0159-BF3D-4BD0-873C-D0C7A9911FDE</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.x</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
