<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F8881BA2-FC6D-4E14-8019-D65CFDE212D5</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.equal_greater</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
