<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>531C8CA8-1E99-48A1-AFFA-A4AEF44E091E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.asterisk_greater</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
