<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C0AF63A0-8B19-45D1-96A8-2FDE05833091</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
