<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D03211EA-0278-46C7-B3D4-7D97157EC560</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.q</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
