<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4274C16B-3002-43FA-B062-994C197B877D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.y</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
