<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9E0D41CF-0234-45E5-944A-6C0E501E4B99</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.J</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
