<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>FE9A3866-9430-4EF7-A40A-705A517480FD</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.t</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
