<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>AEDFACC8-D6CC-4EEA-8804-19320695A27B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.p</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
