<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>79BE7717-AB46-4E86-9D23-62AA67CC577E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.caroncomb.alt</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
