<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>12B0D916-2578-4FBF-8675-F46B439C9B53</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.caroncomb</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caroncomb.case</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
