<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C4D3B20E-2219-485D-9BC9-79EAF5252BDF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblbase</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblleft</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
