<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7D8A9135-F93A-4473-9459-3783D62B9836</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceleft</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
