<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>18284911-EB31-49A3-BA33-3B4C81583DF2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.idotless</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
