<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9EE697BD-9D8A-4201-BD67-EB374651B8AB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.five</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
