<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>04660582-F2E7-495C-BC05-64EFE513241A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.M</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
