<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>DA36F6AE-9BC8-4D50-A485-F968888B188D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclam_equal_equal</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
