<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8B4B95ED-8031-4F5F-925C-37D4B85BBA9B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dcaron</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eth</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
