<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>68E0C0F6-54C8-4EA5-BF5B-C489A537AD4C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.percent_percent</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
