<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0CAD0B35-DA01-4A89-94B9-2B79EE8F9D8A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ydotbelow</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
