<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>CDEDA307-7C92-4164-B069-3D7393D704C8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.colon_colon_colon</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
