<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>36517596-589B-4A6B-928D-AC4FB9F85A58</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
