<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A300924B-E84E-4E45-8196-370BD5F1B37F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexcomb_gravecomb</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
