<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>i.left</key>
    <string>i.left.glif</string>
    <key>i.right</key>
    <string>i.right.glif</string>
  </dict>
</plist>
