<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>CD4E1E49-8E0D-4CBA-80F4-300320D3A1DB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.l.both</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
