<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C3738987-AD49-40C9-AD8E-079C11437EBC</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.f</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
