<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6053621A-7538-4A06-B360-F1202C3230CC</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.l.right</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
