<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>AC8FE38C-8566-4ACE-A7AB-8C2C32EB517A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.approxequal</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
