<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>778871C6-3D5E-4C00-9702-41030348F4AC</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.y</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
