<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4F8A3204-B3D5-488A-B85F-054F2A1B0DC4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.V</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
