<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0F722915-52FD-4D3E-ACE3-8F87A8B4DD79</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_equal_less</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
