<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>91955B28-CABD-4D56-A1B4-2EF91376417B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ordmasculine</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
