<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2298D34D-6FE9-498E-81E0-DAD8255DBD2D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.c</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
