<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>AB22587F-9486-4FEC-8517-2F5184B1537A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Germandbls</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
