<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4ABD3F7F-C800-4722-9808-2AE4D0BF25E0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Q</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
