<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>CE28DFD2-DE09-4D55-B523-3D6B2927476E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.yen</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
