<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3208AB8E-2DAF-45E9-A342-D09E6C277025</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.oslash.ss01</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
