<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B58B57F3-8E68-4219-A034-A2B03815BBEE</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_asterisk_greater</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
