<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D385F735-E579-4418-AA3C-56FA865CE463</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.P</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
