<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>AD5AB138-4E0B-47BF-B226-3835B8DC977E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.B</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
