<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A0BE9E50-E31E-4CFE-8C78-77AC5C228CE3</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.asterisk</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
