<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>10CFF776-FA43-4AA8-A61D-AACD3ED58C34</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ordfeminine</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
