<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E9761788-DFDD-42B6-AC40-C1366D71F85B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.I</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
