<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B81155D1-6F2F-47C7-887B-6B441F874A34</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.m.left</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m.right</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
