<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>325032A4-570F-46B7-AF46-6B3FE072804B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Obreve.ss01</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
