<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>514A3D04-492F-4033-B365-24FE17F3DBEA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.x</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
