<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>76E85BED-BD74-4A68-8854-19DD5B73329F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciitilde</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tildecomb</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
