<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B518B8CF-1A1F-41A0-BCA0-3B977E65A07E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.z</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
