<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Nov 2, 23 at 16:32</string>
      <string>glyphs.N_ov 2, 23 at 16_32</string>
    </array>
    <array>
      <string>Dec 5, 23 at 15:58</string>
      <string>glyphs.D_ec 5, 23 at 15_58</string>
    </array>
    <array>
      <string>Nov 2, 23 at 16:36</string>
      <string>glyphs.N_ov 2, 23 at 16_36</string>
    </array>
    <array>
      <string>Dec 20, 23 at 15:54</string>
      <string>glyphs.D_ec 20, 23 at 15_54</string>
    </array>
    <array>
      <string>Nov 11, 23 at 13:52</string>
      <string>glyphs.N_ov 11, 23 at 13_52</string>
    </array>
    <array>
      <string>Nov 2, 23 at 16:22</string>
      <string>glyphs.N_ov 2, 23 at 16_22</string>
    </array>
    <array>
      <string>Dec 11, 23 at 14:20</string>
      <string>glyphs.D_ec 11, 23 at 14_20</string>
    </array>
    <array>
      <string>Dec 11, 23 at 14:37</string>
      <string>glyphs.D_ec 11, 23 at 14_37</string>
    </array>
    <array>
      <string>Nov 11, 23 at 19:56</string>
      <string>glyphs.N_ov 11, 23 at 19_56</string>
    </array>
    <array>
      <string>Nov 2, 23 at 13:08</string>
      <string>glyphs.N_ov 2, 23 at 13_08</string>
    </array>
    <array>
      <string>Nov 2, 23 at 13:11</string>
      <string>glyphs.N_ov 2, 23 at 13_11</string>
    </array>
    <array>
      <string>Nov 2, 23 at 13:37</string>
      <string>glyphs.N_ov 2, 23 at 13_37</string>
    </array>
    <array>
      <string>Nov 5, 23 at 15:14</string>
      <string>glyphs.N_ov 5, 23 at 15_14</string>
    </array>
    <array>
      <string>Dec 5, 23 at 15:55</string>
      <string>glyphs.D_ec 5, 23 at 15_55</string>
    </array>
    <array>
      <string>May 14, 23 13:39</string>
      <string>glyphs.M_ay 14, 23 13_39</string>
    </array>
    <array>
      <string>Sep 16, 23 15:47</string>
      <string>glyphs.S_ep 16, 23 15_47</string>
    </array>
    <array>
      <string>Dec 18, 23 at 15:22</string>
      <string>glyphs.D_ec 18, 23 at 15_22</string>
    </array>
    <array>
      <string>Dec 18, 23 at 15:23</string>
      <string>glyphs.D_ec 18, 23 at 15_23</string>
    </array>
    <array>
      <string>Dec 11, 23 at 15:18</string>
      <string>glyphs.D_ec 11, 23 at 15_18</string>
    </array>
    <array>
      <string>Dec 11, 23 at 15:59</string>
      <string>glyphs.D_ec 11, 23 at 15_59</string>
    </array>
    <array>
      <string>Nov 21, 23 at 19:56</string>
      <string>glyphs.N_ov 21, 23 at 19_56</string>
    </array>
    <array>
      <string>Dec 11, 23 at 15:11</string>
      <string>glyphs.D_ec 11, 23 at 15_11</string>
    </array>
    <array>
      <string>Dec 3, 23 at 10:08</string>
      <string>glyphs.D_ec 3, 23 at 10_08</string>
    </array>
    <array>
      <string>Dec 3, 23 at 10:16</string>
      <string>glyphs.D_ec 3, 23 at 10_16</string>
    </array>
    <array>
      <string>Dec 10, 23 at 22:10</string>
      <string>glyphs.D_ec 10, 23 at 22_10</string>
    </array>
    <array>
      <string>Nov 1, 23 at 21:20</string>
      <string>glyphs.N_ov 1, 23 at 21_20</string>
    </array>
    <array>
      <string>Nov 2, 23 at 16:28</string>
      <string>glyphs.N_ov 2, 23 at 16_28</string>
    </array>
    <array>
      <string>Nov 2, 23 at 11:05</string>
      <string>glyphs.N_ov 2, 23 at 11_05</string>
    </array>
    <array>
      <string>Nov 2, 23 at 11:34</string>
      <string>glyphs.N_ov 2, 23 at 11_34</string>
    </array>
    <array>
      <string>Dec 18, 23 at 16:32</string>
      <string>glyphs.D_ec 18, 23 at 16_32</string>
    </array>
    <array>
      <string>Nov 21, 23 at 14:02</string>
      <string>glyphs.N_ov 21, 23 at 14_02</string>
    </array>
    <array>
      <string>Nov 21, 23 at 14:04</string>
      <string>glyphs.N_ov 21, 23 at 14_04</string>
    </array>
    <array>
      <string>Dec 3, 23 at 10:18</string>
      <string>glyphs.D_ec 3, 23 at 10_18</string>
    </array>
    <array>
      <string>Nov 21, 23 at 13:40</string>
      <string>glyphs.N_ov 21, 23 at 13_40</string>
    </array>
    <array>
      <string>Nov 21, 23 at 14:17</string>
      <string>glyphs.N_ov 21, 23 at 14_17</string>
    </array>
    <array>
      <string>Nov 21, 23 at 14:18</string>
      <string>glyphs.N_ov 21, 23 at 14_18</string>
    </array>
    <array>
      <string>Jan 3, 24 at 20:30</string>
      <string>glyphs.J_an 3, 24 at 20_30</string>
    </array>
    <array>
      <string>Jan 3, 24 at 22:19</string>
      <string>glyphs.J_an 3, 24 at 22_19</string>
    </array>
    <array>
      <string>Jan 4, 24 at 12:33</string>
      <string>glyphs.J_an 4, 24 at 12_33</string>
    </array>
    <array>
      <string>Jan 4, 24 at 13:13</string>
      <string>glyphs.J_an 4, 24 at 13_13</string>
    </array>
    <array>
      <string>Jan 3, 24 at 20:34</string>
      <string>glyphs.J_an 3, 24 at 20_34</string>
    </array>
    <array>
      <string>Jan 3, 24 at 22:21</string>
      <string>glyphs.J_an 3, 24 at 22_21</string>
    </array>
    <array>
      <string>Jan 4, 24 at 12:36</string>
      <string>glyphs.J_an 4, 24 at 12_36</string>
    </array>
    <array>
      <string>Jan 3, 24 at 16:47</string>
      <string>glyphs.J_an 3, 24 at 16_47</string>
    </array>
    <array>
      <string>Sep 29, 23 15:57</string>
      <string>glyphs.S_ep 29, 23 15_57</string>
    </array>
    <array>
      <string>Sep 29, 23 15:56</string>
      <string>glyphs.S_ep 29, 23 15_56</string>
    </array>
    <array>
      <string>Sep 29, 23 15:55</string>
      <string>glyphs.S_ep 29, 23 15_55</string>
    </array>
    <array>
      <string>Sep 29, 23 15:54</string>
      <string>glyphs.S_ep 29, 23 15_54</string>
    </array>
    <array>
      <string>Jan 6, 24 at 12:31</string>
      <string>glyphs.J_an 6, 24 at 12_31</string>
    </array>
    <array>
      <string>Jan 4, 24 at 13:09</string>
      <string>glyphs.J_an 4, 24 at 13_09</string>
    </array>
    <array>
      <string>Jan 4, 24 at 13:07</string>
      <string>glyphs.J_an 4, 24 at 13_07</string>
    </array>
    <array>
      <string>Sep 29, 23 15:53</string>
      <string>glyphs.S_ep 29, 23 15_53</string>
    </array>
    <array>
      <string>Dec 14, 23 at 9:41</string>
      <string>glyphs.D_ec 14, 23 at 9_41</string>
    </array>
    <array>
      <string>Jan 3, 24 at 20:35</string>
      <string>glyphs.J_an 3, 24 at 20_35</string>
    </array>
    <array>
      <string>Jan 4, 24 at 12:50</string>
      <string>glyphs.J_an 4, 24 at 12_50</string>
    </array>
    <array>
      <string>Jan 4, 24 at 12:55</string>
      <string>glyphs.J_an 4, 24 at 12_55</string>
    </array>
    <array>
      <string>Jan 3, 24 at 20:38</string>
      <string>glyphs.J_an 3, 24 at 20_38</string>
    </array>
    <array>
      <string>Jan 4, 24 at 12:59</string>
      <string>glyphs.J_an 4, 24 at 12_59</string>
    </array>
    <array>
      <string>Jan 3, 24 at 20:49</string>
      <string>glyphs.J_an 3, 24 at 20_49</string>
    </array>
    <array>
      <string>Jan 4, 24 at 13:01</string>
      <string>glyphs.J_an 4, 24 at 13_01</string>
    </array>
    <array>
      <string>Jan 3, 24 at 20:40</string>
      <string>glyphs.J_an 3, 24 at 20_40</string>
    </array>
    <array>
      <string>Jan 3, 24 at 20:41</string>
      <string>glyphs.J_an 3, 24 at 20_41</string>
    </array>
    <array>
      <string>Jan 4, 24 at 12:43</string>
      <string>glyphs.J_an 4, 24 at 12_43</string>
    </array>
    <array>
      <string>Dec 28, 23 at 23:19</string>
      <string>glyphs.D_ec 28, 23 at 23_19</string>
    </array>
    <array>
      <string>Dec 29, 23 at 14:21</string>
      <string>glyphs.D_ec 29, 23 at 14_21</string>
    </array>
    <array>
      <string>Jan 3, 24 at 22:24</string>
      <string>glyphs.J_an 3, 24 at 22_24</string>
    </array>
    <array>
      <string>Jan 4, 24 at 12:28</string>
      <string>glyphs.J_an 4, 24 at 12_28</string>
    </array>
    <array>
      <string>Dec 14, 23 at 16:01</string>
      <string>glyphs.D_ec 14, 23 at 16_01</string>
    </array>
    <array>
      <string>Dec 15, 23 at 15:37</string>
      <string>glyphs.D_ec 15, 23 at 15_37</string>
    </array>
    <array>
      <string>Dec 15, 23 at 16:45</string>
      <string>glyphs.D_ec 15, 23 at 16_45</string>
    </array>
    <array>
      <string>Dec 24, 23 at 22:34</string>
      <string>glyphs.D_ec 24, 23 at 22_34</string>
    </array>
    <array>
      <string>Dec 15, 23 at 20:07</string>
      <string>glyphs.D_ec 15, 23 at 20_07</string>
    </array>
    <array>
      <string>Dec 17, 23 at 10:13</string>
      <string>glyphs.D_ec 17, 23 at 10_13</string>
    </array>
    <array>
      <string>Dec 17, 23 at 10:58</string>
      <string>glyphs.D_ec 17, 23 at 10_58</string>
    </array>
    <array>
      <string>Dec 25, 23 at 12:09</string>
      <string>glyphs.D_ec 25, 23 at 12_09</string>
    </array>
    <array>
      <string>Dec 26, 23 at 23:05</string>
      <string>glyphs.D_ec 26, 23 at 23_05</string>
    </array>
    <array>
      <string>Dec 26, 23 at 23:08</string>
      <string>glyphs.D_ec 26, 23 at 23_08</string>
    </array>
    <array>
      <string>Jan 4, 24 at 13:25</string>
      <string>glyphs.J_an 4, 24 at 13_25</string>
    </array>
    <array>
      <string>Dec 26, 23 at 22:57</string>
      <string>glyphs.D_ec 26, 23 at 22_57</string>
    </array>
    <array>
      <string>Jan 4, 24 at 13:24</string>
      <string>glyphs.J_an 4, 24 at 13_24</string>
    </array>
    <array>
      <string>Dec 17, 23 at 11:05</string>
      <string>glyphs.D_ec 17, 23 at 11_05</string>
    </array>
    <array>
      <string>Dec 17, 23 at 11:09</string>
      <string>glyphs.D_ec 17, 23 at 11_09</string>
    </array>
    <array>
      <string>Sep 16, 23 15:39</string>
      <string>glyphs.S_ep 16, 23 15_39</string>
    </array>
    <array>
      <string>Jan 9, 24 at 12:49</string>
      <string>glyphs.J_an 9, 24 at 12_49</string>
    </array>
    <array>
      <string>Jan 9, 24 at 13:01</string>
      <string>glyphs.J_an 9, 24 at 13_01</string>
    </array>
    <array>
      <string>Jan 10, 24 at 17:03</string>
      <string>glyphs.J_an 10, 24 at 17_03</string>
    </array>
    <array>
      <string>Nov 10, 23 at 16:26</string>
      <string>glyphs.N_ov 10, 23 at 16_26</string>
    </array>
    <array>
      <string>Oct 31, 23 at 16:47</string>
      <string>glyphs.O_ct 31, 23 at 16_47</string>
    </array>
    <array>
      <string>Jan 9, 24 at 12:28</string>
      <string>glyphs.J_an 9, 24 at 12_28</string>
    </array>
    <array>
      <string>Jan 9, 24 at 12:28 #1</string>
      <string>glyphs.J_an 9, 24 at 12_28 #1</string>
    </array>
    <array>
      <string>Jan 9, 24 at 12:45</string>
      <string>glyphs.J_an 9, 24 at 12_45</string>
    </array>
    <array>
      <string>Nov 11, 23 at 14:07</string>
      <string>glyphs.N_ov 11, 23 at 14_07</string>
    </array>
    <array>
      <string>Nov 11, 23 at 19:25</string>
      <string>glyphs.N_ov 11, 23 at 19_25</string>
    </array>
    <array>
      <string>Nov 11, 23 at 19:34</string>
      <string>glyphs.N_ov 11, 23 at 19_34</string>
    </array>
    <array>
      <string>Dec 17, 23 at 17:30</string>
      <string>glyphs.D_ec 17, 23 at 17_30</string>
    </array>
    <array>
      <string>Nov 2, 23 at 15:54</string>
      <string>glyphs.N_ov 2, 23 at 15_54</string>
    </array>
    <array>
      <string>Nov 2, 23 at 16:04</string>
      <string>glyphs.N_ov 2, 23 at 16_04</string>
    </array>
    <array>
      <string>Nov 5, 23 at 16:48</string>
      <string>glyphs.N_ov 5, 23 at 16_48</string>
    </array>
    <array>
      <string>Nov 5, 23 at 16:56</string>
      <string>glyphs.N_ov 5, 23 at 16_56</string>
    </array>
    <array>
      <string>Jan 9, 24 at 13:03</string>
      <string>glyphs.J_an 9, 24 at 13_03</string>
    </array>
    <array>
      <string>Jan 9, 24 at 12:10</string>
      <string>glyphs.J_an 9, 24 at 12_10</string>
    </array>
    <array>
      <string>Jan 9, 24 at 12:23</string>
      <string>glyphs.J_an 9, 24 at 12_23</string>
    </array>
    <array>
      <string>Jan 9, 24 at 12:47</string>
      <string>glyphs.J_an 9, 24 at 12_47</string>
    </array>
    <array>
      <string>Jan 9, 24 at 12:24</string>
      <string>glyphs.J_an 9, 24 at 12_24</string>
    </array>
    <array>
      <string>Jan 9, 24 at 12:46</string>
      <string>glyphs.J_an 9, 24 at 12_46</string>
    </array>
    <array>
      <string>Jan 9, 24 at 13:19</string>
      <string>glyphs.J_an 9, 24 at 13_19</string>
    </array>
    <array>
      <string>Nov 10, 23 at 16:07</string>
      <string>glyphs.N_ov 10, 23 at 16_07</string>
    </array>
    <array>
      <string>Nov 1, 23 at 15:47</string>
      <string>glyphs.N_ov 1, 23 at 15_47</string>
    </array>
  </array>
</plist>
