<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7C0115E2-2487-4AEA-93DA-7E2E0335EDB5</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.m.both</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
