<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A6D5094F-447F-4480-90EA-72F053CB71FB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.H</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
