<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>065CD0AB-08DF-4440-AA44-F3D160B1D802</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ae</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
