<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D2299E42-469B-4A05-83A7-12B80F3C4692</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.m.left</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
