<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F8D7FB5A-431C-4358-9867-FEEF64AA62DA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oslash</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oslash.ss01</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
