<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BF5D8213-32DD-46A2-B080-86EF8673FE04</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.U</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
