<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E677F9BB-ED94-40A9-AC40-631DFD45C8CA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.approxequal</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
