<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8443D213-16A3-4E0D-863F-814C3642BF13</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.trademark</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
