<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>739F80B4-CE82-4860-9CDB-B92725F1FC79</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dong</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
