<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>937D5464-59FE-40BB-ABD9-6EF374029E43</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.idotless</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
