<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3B1EF31E-022E-4CD9-AA15-7B83549E8BCF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.i.both</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
