<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>814E53C8-085E-40C7-B3F7-2AB815550D0F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.d</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
