<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>43B50303-4698-43FD-A0C3-EEE010F19355</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.f</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
