<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>76C1D17F-FE41-4862-896D-65D71DFA1CCA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.greater_greater</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
