<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E5F73743-1836-4433-BA85-C79883FE2218</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.bar_bar</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
