<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9F82D5BB-E4D4-4B8F-B467-8293525EE44A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.i</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
