<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4EEA4CDC-B006-4812-859E-D4EC91F8DBC1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.l.left</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
