<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>69D79B24-EBBF-47B1-AAA6-6271467CC833</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb_tildecomb</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
