<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>65A8680B-8BF2-4A14-9A04-BBFE55A015CB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.jdotless</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
