<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F38AEE56-5F9A-4EDC-94B5-D25B1500326F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
