<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>845DB7D3-1944-4C5A-8095-4E9C2B512029</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ringhalfright</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.verticallinelowmod</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
