<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7327E9DA-73C3-4FB5-B543-3B1CAC4AFA3B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_asterisk</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
