<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D964694E-65A3-436B-A7F7-7F2EE51A282E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.kcommaaccent</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kdotbelow</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kmacronbelow</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
