<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>FC382D45-0AC7-4CEE-B8D9-238B28436E3C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.x</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
