<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>74B2586B-9DF8-4BAE-B0C9-97BDBC3558D1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.i.both</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.i.right</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
