<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3F465C10-AD45-4143-9597-56AFF00763AD</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.k.ss01</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
