<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0F7E5EA9-12DA-4E80-BC7F-03A5DD39823F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ohorn</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
