<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B37217B5-7D9B-4BF8-B2AC-472D5DB2DA4A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.equal_equal_equal</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
