<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D178D54F-9362-48CD-936C-5994C9900F88</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.n</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
