<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A8A108F2-B945-4525-A4D4-7E87DAC00BD8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemetright</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
