<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>16912699-A494-4A1A-99B8-09899860D7FE</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.D</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
