<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6438B7D1-C2C1-41BF-B10E-10BFAB34832A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.c</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.d</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
