<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>26E80C42-EA7A-41BD-9B12-69BFAA9235DB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.l</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
