<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>069E1375-FCFE-4DDC-8DD3-510CF586FEFC</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.question</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
