<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3DB2E836-E926-45D4-8A50-DF6C30DCD65B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.greater_equal_greater</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
