<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C38EB6B4-2308-4411-A1CB-51B66B6473D6</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.c</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
