<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>56B54431-2346-4DCE-BE62-738D9C24D7D3</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.b</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
