<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>FA9A59BB-56EA-48BD-9884-C7248631153B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.l.ss01</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
