<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0BE9F09A-6949-4EAA-A451-1F6B387B1928</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.i.both</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.t.both</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
