<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8B4716DC-4B8E-46CD-A3E1-B01F6C187E7C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.m</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m.right</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
