<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C0614F96-673D-43EC-B5AC-910E8D988F95</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.k</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
