<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>5465BA74-6A2A-40DE-A96C-1654AE58E9F6</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.z</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
