<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4691025A-A3D4-4CED-BB5F-FC55814448DA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.idotless</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
