<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B4764F24-BB4D-4900-813F-CBB63EF3128B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.s.ss01</key>
      <integer>18</integer>
    </dict>
  </dict>
</plist>
