<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D43F1747-3FC1-4181-B90A-D79A199703D0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_greater</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
