<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8A244537-2709-4720-9FE2-A5BCFC065304</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dollar</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
