<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E9FF99D5-A5FE-45D8-A83B-B39B52E424E4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.horncomb</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
