<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>811971F7-6FC9-4B8A-9390-5D52AF723710</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.percent_percent</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
