<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1065D447-0DD8-4508-89FA-18A72D80DE5B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eogonek</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
