<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6B27FCC4-65B8-4BA9-9AAA-B7704155F696</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.n</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
