<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>EAB14139-8802-4453-AF17-772F73504A75</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eng</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
