<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9B3678B6-67A2-4904-BF2C-EE9599A4F43A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.x</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
