<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>59577679-E568-4D1B-B043-392BCAD1A384</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
