<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E64BFD76-933D-4049-A858-07341165233D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.h</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
