<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BA6E238F-665C-4783-9FB8-C1AEBAD390A5</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.plus_greater</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
