<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D89E1641-C7CE-4696-946D-F6293D163B2A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclam_equal</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclam_equal_equal</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.period_equal</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.question_question</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
