<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>55C3C16F-4B74-424A-9A55-FF9E7D266061</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.r.ss01</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
