<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>EF1F5CB3-77E5-4DB1-A60A-A37D46C56CAC</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eth</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
