<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C6DE0135-D099-4E64-ABAF-ECC8047C3C59</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenright</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
