<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C8203D72-5A13-410E-BD65-E9647D2F1BC4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.backslash</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.slash</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
