<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C1137A19-6355-4999-ADDF-4168CD5E56CF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Thorn</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
