<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BF5E8FD4-7E21-4C5E-84C5-EE66BB47D601</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.asterisk_greater</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
