<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>EACDED5B-A828-4B51-A137-A4C4A89DEE73</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.cent</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
