<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F330CEBB-32D4-4330-B1DD-2733A4519A93</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.horncomb</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
