<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>43F01E8C-5812-44C9-BD00-93847B584897</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.m.both</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m.left</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m.right</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
