<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>80EAD11F-B77B-48BE-BB68-28E23E88190B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
