<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9E643328-D2A0-4499-9247-D9066BC8DBDE</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.o</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
