<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>96DEB654-DC39-4D6D-859C-168F6DC08E17</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.c</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
