<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>159D481A-37EF-433B-9BF9-661BBB9B5422</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexcomb</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
