<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9ADD0021-DA34-49B7-B0AB-D5B5E2355337</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.h</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
