<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2B2FCCB4-0C04-461C-B01D-D0A2E0406720</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.y</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
