<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>FA1C42A2-3345-4A7D-B70F-52EADBD29D6B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.k.ss01</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
