<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6E83E1EE-DBE6-4061-A8CA-75E2E821D879</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.l.both</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
