<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6E4DEA9A-D63A-467B-AD28-0C3033D62B13</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Germandbls</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
