<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>5AEFB515-F651-4FC2-9A71-9C79D43EB0FA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.colon_colon_colon</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
