<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BBD50B7B-6367-4E38-96D4-FBAAA3125407</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.j</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
