<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4210CA5A-5483-466E-891E-16893F84DB3E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.m</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
