<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2E8354D5-D7E2-4C31-9DCC-990C17CA2613</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ogonekcomb</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
