<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6A3DB03A-7F5F-4D42-A837-667B25AA51C5</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.e</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
