<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B7C0244F-3C62-473E-BC34-9E21E29D1EFB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexcomb</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
