<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>81AB822F-21F7-433E-A7C0-214E0F4AAF0E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketleft</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
