<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9324C929-D488-4FB3-9E17-82D81295BE2D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresiscomb_caroncomb</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
