<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>EE96F0D3-C2F8-4D59-812A-21FB5EE220D1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_bar</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
