<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>99C3C03B-CE1F-449F-B4B2-2CD0C7940C15</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.six</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
