<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>ABF35FB8-54BE-4EDC-9DC4-FDF6ABF58659</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.gcircumflex</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
