<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>653DCA90-8F81-4E49-AA50-A470F5029E9A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.x</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
