<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>FFA18B22-471C-4753-BD34-27F55135F8B9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.m.both</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
