<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>50B5E07F-186B-4F7A-B82C-47201C2451F2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ordfeminine</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
