<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>89DAA2C9-4887-47A8-8C46-E14D318957BA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.O.ss01</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
