<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D10D7003-9F93-4FEE-8793-E147A6220152</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dcroat</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
