<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>24900A11-2A1F-4E78-851E-4B5F1104249A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.period</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
