<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>08C5A80D-86FF-4E0A-85B3-70A0091D0936</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.l.right</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
