<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C1319835-1BEC-40EC-8000-5C6A6127892E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedillacomb.case</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
