<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E25BB945-6F61-4C81-B61D-4DE462B46BE5</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.colon_less_colon</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
