<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0D5EE2B9-FDFA-4376-A629-C7E52A84A451</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.servicemark</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
