<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>08411037-C265-4F8D-82B3-7CF53E33401F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.g</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
