<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9A3B8B1A-D70F-489B-9EA2-82A93C746A88</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dagger</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.daggerdbl</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.servicemark</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
